[2014-02-18 13:32] niryariv opened #1 "Research Kenya/Ethiopia SMS gateways"
STP uses Infobit, which covers both Eth/Ken: http://www.infobip.com/

[2014-02-18 13:32] niryariv opened #2 "get MATLAB / Excel / VB code in the repo"

[2014-02-18 13:33] niryariv opened #3 "get Anton's toolchain code/docs"

[2014-02-18 13:34] niryariv opened #4 "send GIS boundary information"

[2014-02-18 13:36] niryariv opened #5 "try running the MATLAB code on linux"
question mark since we need to see if a linux server is feasible, based on whether we can run Anton's IDL code on GDL (#3)

[2014-02-18 14:57] niryariv commented on #3
From Anton:

Find below this e-mail the steps that I now perform to make an update for IBLI based on the eMODIS data. I have just checked with Michele Meroni (also in cc), and he has no problem neither for sharing code. As for myself, we are more scripting to get something working, but the code may look a bit messy sometimes and may need to be changed slightly for each update. Nonetheless, the com

[2014-02-19 14:36] niryariv opened #6 "Implement Ethiopian Excel spreadsheet in Matlab"

[2014-02-19 14:36] niryariv opened #7 "Output Matlab results in CSV [was: Provide sample of Matlab outputs for Kenya]"

[2014-02-24 11:53] niryariv commented on #1
@bnedavies since currently we're thinking the STP will be our SMS sending tool, I suppose we can put this aside for now and continue using infobip - makes sense?

[2014-02-24 11:54] niryariv commented on #4
@apurbashee - could you email me the GIS files? i'll take care of converting the format, if needed, and storing on git

[2014-02-24 11:58] niryariv commented on #5
@alanorth I guess our first goal would be to run matlab on the server from the command line - seems like this should be possible: http://www.mathworks.com/help/matlab/matlab_env/start-matlab-on-linux-platforms.html

step 2 would be to see that the current scripts run and produce the expected output - then we can move on to automating Anton's IDL toolchain. Sounds ok?

[2014-02-24 12:27] alanorth commented on #5
Sounds ok.  I have a copy of Matlab and I will see if I can run a tutorial or something to figure out what's possible; ie calling it on a server and getting it to spit out some numbers.

[2014-02-24 13:08] bnedavies commented on #1
We can set it aside for now for Kenya, but we will need to still research what will work in Ethiopia - the STP is only setup for Kenya at the moment...will infobip work in Ethiopia?

[2014-02-24 13:22] amosgichamba commented on #1
The gateway we are using is global and submits SMSes anywhere in the world.
It will definitely work for Ethiopia. Nir and team, let me know if you need
me to allow sending messages to Ethiopia.

On Mon, Feb 24, 2014 at 4:08 PM, Bryn notifications@github.com wrote:

[2014-02-25 10:01] niryariv commented on #2
@bnedavies assigning to you - basically we just need the Matlab code now, since the Ethiopia Excel/VB will be replaced with Matlab.

This is required so Alan can start with #5

[2014-02-25 10:57] bnedavies commented on #2
Apurba should probably be in charge of this since he will be the one putting the Ethiopia contract into Matlab?

[2014-02-25 12:34] bnedavies commented on #2
Just spoke to @apurbashee - he says the Ethiopia contract will be in matlab by the 1st week of March.  @alanorth Can we test the Kenyan code in Octave if it is ready earlier?

[2014-02-25 12:46] niryariv commented on #2
I suggest we test the code that currently runs on Windows - we can verify the inputs/outputs match on Win/Linux (with Matlab on Linux for now, to minimize the # of variables)

[2014-02-25 12:48] alanorth commented on #2
@bnedavies I don't have high hopes for running it in Octave.  I have just installed Matlab on Linux today, so the next step here is to run it then figure out how to do it "the Linux way" (with no pointing and clicking).

Also, this is a good experience in figuring out how "compartmentalized" @apurbashee's code is (which input files do we need, etc to get it running on my computer).

[2014-02-25 12:51] bnedavies commented on #7
Apurba will send this today

[2014-02-25 12:51] bnedavies commented on #4
Apurba will send this today

[2014-02-25 12:58] bnedavies commented on #2
@alanorth ok, good to know.  @apurbashee is sending the requirements for #4 & #7 today so you and Nir can start work and test on Linux

[2014-02-25 16:33] alanorth commented on #5
Ok, running Matlab on a headless Linux server is really easy.  Given test script `test.m`:

[code]

... I can do:

[code]

The output is kinda noisy, but the next logical step is to use file handles inside the script anyways, for example:

[code]

With the output being more programmatically named, maybe a timestamp etc.

[2014-02-25 16:43] niryariv commented on #5
awesome. next step is #2 then, verifying the current Kenya code runs well

[2014-02-26 10:43] apurbashee commented on #4
@niryariv I have just sent you the shape files for Kenya and Ethiopia. You can put them in repo.

[2014-02-26 11:11] apurbashee commented on #7
@niryariv I emailed you a couple of sample Matlab output files..

[2014-02-26 14:02] niryariv commented on #4
done: https://github.com/Gizra/IBLI/tree/master/data/gis - closing

[2014-02-26 14:02] #4 closed, assigned to apurbashee

[2014-02-26 14:03] niryariv opened #8 "convert shapefiles to geoJSON"

[2014-02-27 13:19] niryariv commented on #7
Thanks, got the files.

We'll need this in CSV format so we can import to the web platform. From a quick search it seems like Matlab has a [csvwrite()](http://www.mathworks.com/help/matlab/ref/csvwrite.html) feature which takes care of this. Could you look into this?

[2014-02-27 14:40] niryariv commented on #8
converted via http://converter.mygeodata.eu/vector for testing - might be all that's needed, since this isn't a frequent operation. GeoJSON looks ok:

http://geojson.io/#id=gist:anonymous/3b89cf55e3141b121117&map=7/2.285/37.727

[2014-02-27 14:44] alanorth commented on #8
Looks pretty good, @niryariv.  Good to see the shape files are what we thought they were!

[2014-03-05 07:44] #8 closed, assigned to niryariv

[2014-03-05 08:52] bnedavies commented on #7
@apurbashee this is urgent for Nir to process - how quickly can he have this?

[2014-03-05 08:53] bnedavies commented on #5
@apurbashee Can you send any Kenya code as is, just to test?  Does not need to be perfect.

[2014-03-05 08:59] niryariv opened #9 "provide content & select basic theme for the website"
we could start with a theme from https://wrapbootstrap.com/

[2014-03-05 11:48] bnedavies opened #10 "API approval"
@niryariv keep me posted on any changes you need @amosgichamba to make to the API.  Once it is final, we will proceed with his payment.

[2014-03-06 13:25] niryariv opened #11 "Toolchain step 1: convert the scripts to run automatically"
This is the first, and most critical task: Basically we'll need to be able to run the scripts automatically, so the script gets an input file and creates an output file which can then be input into the next script etc.

[2014-03-06 13:27] niryariv opened #12 "Toolchain step 2: Check if the scripts can run on GDL"
Once #11 is done, the goal is to get everything running on Linux. If we can run everything on GDL that's ideal, otherwise we'll need to buy IDL for Linux.

(cc @bnedavies @alanorth - is there by chance a copy of IDL for Linux already in ILRI somewhere?)

[2014-03-06 13:29] niryariv opened #13 "Toolchain step 3: Optimize"
Once #11 is done and we've checked #12, @vrieling can start optimizing the scripts as he sees fit. This is less critical initially since the process only runs every 10 days, so total runtime < 9 days is manageable for now..

[2014-03-06 13:47] alanorth commented on #11
This is the non-MATLAB part of the pipeline, right?  I need to talk to @apurbashee and get his MATLAB script + inputs to see if I can run programmatically it on Linux.

[2014-03-06 13:52] niryariv commented on #11
@alanorth yep, that's Anton's part

[2014-03-06 13:53] #3 closed, assigned to niryariv

[2014-03-09 16:06] niryariv opened #14 "JSON API changes"
- [ ] Listed a bunch of small API changes in the document - please take a look and let me know what you think: https://docs.google.com/a/gizra.com/document/d/1U75oMVfVNh7I4Cp990AO6sLxgFt7PA-T3zityfG8DBc/edit#
- [ ] Also, need to add the "v1" in the URL

[2014-03-11 13:45] bnedavies opened #15 "Bootstrap"
@niryariv We are working on preliminary design ideas for the webplatform.  One question though, can we use a different bootstrap theme for the admin function of the webplatform versus the view that the user will see? So, two themes?

[2014-03-11 15:14] niryariv commented on #15
That could work, but it's pretty rarely needed - are you certain you'll need it? What's the reason for going with two themes?

[2014-03-12 10:07] bnedavies commented on #15
Well, it was only because I liked themes like this for the user - http://wrapbootstrap.com/preview/WB05K85MJ

but I thought the information formatting in the admin templates might be useful?  -

http://wrapbootstrap.com/preview/WB0B30DGR

[2014-03-12 10:36] niryariv opened #16 "Install IDL on the Data Processing Linux server"
(cc @alanorth)

In order to run Anton's toolchain, we'll need IDL, which can be purchased [here](http://www.exelisvis.com/ProductsServices/IDL.aspx) - but it's probably a good idea to see if ILRI already has a license, since there's a fair chance it's already being used there.

[2014-03-12 12:26] apurbashee commented on #7
@niryariv sorry for the delay.. but please give me few more days to get back to you on this.

[2014-03-13 07:37] alanorth commented on #16
Ok, @niryariv.  I'm checking if ILRI has a license already.

[2014-03-13 08:03] alanorth commented on #16
Ok, I talked to some people in RMG (Research Methods Group at ILRI) and they have a license, but it's node-locked and runs on Windows.  We'll definitely have to get our own license.  RMG says they can help procure that, as they get some special rate for the CGIAR.

@bnedavies you can talk to Agnes Odanga (the RMG secretary) about arranging this.  She's away until March 17th apparently... but yeah,

[2014-03-13 10:36] bnedavies commented on #9
@niryariv  I think everyone likes this template - http://wrapbootstrap.com/preview/WB05K85MJ - Highland - Multipage Business Template.

I also like this one for the admin functions - http://wrapbootstrap.com/preview/WB0B30DGR -
Ace - Responsive Admin Template.

Now, as I understand it, I need to start organizing the content to fit the highland template?  Will email a rough outline, but I can start

[2014-03-19 15:32] niryariv opened #17 "Document the Matlab execution process"

[2014-03-24 13:19] niryariv commented on #16
@bnedavies - any updates from Agnes on the IDL license?

[2014-03-26 10:41] bnedavies commented on #16
From Fred - I believe we are to install IDL on one seat. Right? Kindly provide host info (hostname, mac address) so we can process a request for the  license.

Bryn,
Our cost for a single license is $1136

Alan asked about compatibility with Linux server...waiting on response from Fred (from RMG at ILRI)

[2014-03-26 12:54] bnedavies commented on #7
@apurbashee we really need this - things are getting delayed...please help!

[2014-03-27 10:54] niryariv opened #18 "setup IBLI data processing server"

[2014-03-27 11:29] alanorth commented on #18
I plan to install an Ubuntu 12.04 LTS server so we can start working on:
- Playing with Matlab on the command-line-only environment
- External IP address
- Holes poked in ILRI firewall for external access

Question: we still aren't sure how much disk space we'll need, eh? I typically allocate ~30GB for my VMs, but with this data (even if it's not long-lived), I'm not sure if that's enough.

[2014-03-27 12:17] niryariv commented on #5
@alanorth can you try running this code from Josh on the Linux server?  https://github.com/Gizra/IBLI/tree/master/matlab

[2014-03-27 12:19] niryariv commented on #18
I understood from Anton the IDL code does look at NDVI history, so we'll need to have some room for that. What the max we could allocate?

[2014-03-27 14:10] alanorth commented on #17
I got the Matlab code and data from @apurbashee this afternoon.  I will try to run it in Linux and update here.

[2014-03-27 15:16] woodardjoshua commented on #5
Nir,

I am packaging this up now and will upload today. Thanks for your patience.

Josh

On Thu, Mar 27, 2014 at 8:17 AM, Nir Yariv notifications@github.com wrote:

##

---

Joshua D. Woodard, PhD
Assistant Professor of Agribusiness and Finance
Zaitz Family Sesquicentenntial Faculty Fellow
David R. Atkinson Center for a Sustainable Future Faculty Fellow
Dyson School of Applied Economics and Manage

[2014-03-27 15:31] niryariv commented on #5
Thanks Josh!

@alanorth fyi ^^ let's do a test run of that code on Linux once it's up

[2014-03-27 16:05] woodardjoshua commented on #5
FYI, Nir and Apurba have this attachments (could not be sent over the list).

Get in touch if you run into any issues.

Thanks,

Josh

On Thu, Mar 27, 2014 at 12:03 PM, Joshua Woodard woodardjoshua@gmail.comwrote:

##

---

Joshua D. Woodard, PhD
Assistant Professor of Agribusiness and Finance
Zaitz Family Sesquicentenntial Faculty Fellow
David R. Atkinson Center for a Sustainable Future Faculty F

[2014-03-27 16:31] niryariv commented on #5
new Matlab code here: https://github.com/Gizra/IBLI/tree/master/IBLIMatlab

[2014-04-02 11:37] niryariv commented on #5
@alanorth did you get a chance to try running the code above on the server?

[2014-04-02 12:47] alanorth commented on #5
@niryariv no I haven't.  Do we have an idea about how much disk space we will need yet?  I haven't provisioned the VM yet, and that's kinda important.  A "normal", low-usage Linux + Apache + PHP stack would be fine on 30GB disk, but I'm not sure if we need to store/process a bit of data ...

[2014-04-02 13:30] niryariv commented on #5
Some calculations off the top of my head, @apurbashee @vrieling @woodardjoshua please feel free to correct / add:

The NDVI tiff is 190MB unzipped. We download it every 10 days and I understand from Anton we need to keep a backlog:

200 mb x 37 times/year = 7400 mb

Numerical data is probably much smaller, so let's say 10GB / year total and assume 5 years + some padding => say 60-80GB disk?

[2014-04-02 13:52] vrieling commented on #5
An individual tiff-file (unzipped) is about 185 MB and we need 36 images per year (even if 72 are offered but we do not use the odd period numbers). This would mean: 6660 mb \* 13 years = 86580 mb. However, there is no need to keep these files unzipped (done in IDL program). My zipped data is now 65 GB for the whole time series (but this is because for the month-files also the odd period numbers a

[2014-04-02 14:58] niryariv commented on #5
so let's say ~120GB for existing + new data over the next 5 years (assuming the new data will be zipped periodically too) - sounds right?

@alanorth will it be possible to allocate more disk space down the road, or is that not recommended?

[2014-04-02 15:01] vrieling commented on #5
Yes, 120 GB should do, at least for the eMODIS processing chain.

[2014-04-03 05:24] alanorth commented on #5
Thanks for the number crunching, @niryariv and @vrieling. 120GB is starting to sound like a more serious commitment for my VM infrastructure than I initially thought (our current VMs are small, lightweight LAMP stacks!).  I really don't know if I want to commit to something so heavy (this is quite a bit of space, especially when you start thinking about snapshotted backups, etc)... let me look at

[2014-04-03 09:17] bnedavies commented on #9
@niryariv
http://cgspace.cgiar.org/handle/10568/21794 - Use this for colors for webplatform
http://ilri-comms.wikispaces.com/ILRI+Logo - Use this for logos for webplatform

[2014-04-03 11:43] vrieling commented on #5
@alanorth In fact, once the zipped tif's are opened, subset, and written as a binary file, you do not really need them anymore (unless you want to change the subset, let's say because you want to move to Ethiopia now...). With the zipped TIF's removed after processing, you could do for Kenya with 10-15 GB for the eMODIS processing, including at least another 5 years in future.

@apurbashee Not yet

[2014-04-03 11:47] niryariv commented on #5
@vrieling would be feasible at a later stage to store the archived files externally (eg on an S3 bucket) and just read them when needed?

[2014-04-03 11:50] vrieling commented on #5
@niryariv Sure why not: the archive tif's are not key input to the operational processing chain (i.e. once the subsets have been made). I don't know what an S3 bucket is, but it could be a good idea to store them on an external disk (not part of the VM). Alternatively they can always be downloaded again from: http://earlywarning.usgs.gov/fews/downloads/ (although that may take time, and could be e

[2014-04-03 11:57] vrieling commented on #5
@alanorth @niryariv Although one thing I should mention here. The 10GB would be for the subsetted DATA (stored as individual binary files for each 10-day period). However, when processing (with current processing chain), I create also a single BIL-file containing all data (so another 10GB), and for calculating the z-scores this will create another large file (4 times as large, because these are fl

[2014-04-03 12:08] apurbashee commented on #5
@vrieling Yes we plan to expand the eMODIS processing chain to Ethiopia. Presently we are using MODIS for Ethiopia and we have a data processing program. We think moving to eMODIS will be better option since we can have uniform processing chain for both the areas and  eMODIS is filtered. Pl let me know if you anticipate any issue.

[2014-04-03 12:16] vrieling commented on #5
@apurbashee But within the current contract with Gizra, or at some later stage? I currently set the programs up to run for Kenya. This includes sub-setting for the Kenya window, and having a raster-file with administrative IDs for Kenya. If you want to include Ethiopia, then these things will change of course: also the question arises if it should all be part of a single processing chain (treating

[2014-04-03 12:20] woodardjoshua commented on #5
For what it's worth, may be wise to ser it up so that kenya/Ethiopia is
processed as one together as we are going that direction anyways. If I
understand Anton, the filtering for kenya will be a little different if we
do it with or without Ethiopia data, but presumably not to much and we will
just update policy to reflect that. In any case, may make sense to do it
now while we are at it as opposed

[2014-04-03 12:33] vrieling commented on #5
No differences for filtering, but the data subset will be different (the window needs to include the relevant part of Ethiopia). In addition, we would probably need a single file (first shapefile that I then convert to raster to be used within my code) with unique ID-codes (so Ethiopia adminID are different from Kenyan adminID).
@woodardjoshua So for Ethiopia the same LRLD and SRSD definitions are

[2014-04-03 12:43] apurbashee commented on #5
@vrieling I understand that it requires time and effort. Let me get back you on this..
Regarding LRLD and SRSR all definitions and processing are same for both the areas.

[2014-04-03 14:49] alanorth commented on #5
Yeah, I'm thinking that we need to try some sort of hybrid combination of storage / archival, possibly using Amazon S3 to keep the large historical stuff off the server (if we really need it?!).

Our VM infrastructure is only really set up to host lightweight VMs.  One of the issues is keeping backups of the VM; when you have a VM which is 120 GB, then backups of the VM become 240, 360 etc and thi

[2014-04-03 14:51] niryariv commented on #5
we probably won't have to backup the NDVI files, since these are always downloadable from the USGS site.

[2014-04-04 08:14] alanorth commented on #5
Ok, then maybe this is a good compromise:
- Backup the MySQL database
- Backup the code
- Backup the machine's configuration (`/etc/` and friends)

But then I do not backup the VM image itself on the host.

[2014-04-04 10:12] niryariv commented on #5
sounds good.

(backing up the code isn't critical, since it'll be on git - but it's relatively minor in size either way)

[2014-04-04 11:46] vrieling commented on #5
A few points:
- I spoke with @apurbashee, and we will add the 10 Ethiopian woredas to the same processing chain. This requires a few adaptations (to subset etc), but @alanorth: image sizes are not changing due to this.
- I have already made a single shapefile (containing Kenya+Ethiopia divisions). I can send it to @niryariv for posting on Git. I have also made a new raster-file (to be used in the

[2014-04-04 12:27] niryariv commented on #5
thanks @vrieling - if the shapefile is ready please send me so I'll convert to GeoJSON & store in Git.

[2014-04-10 06:26] alanorth commented on #18
Server is installed, Ubuntu 12.04.4.  I've allocated 128GB disk space for the virtual machine.  I'll keep you posted as I get it set up and start testing stuff.

[2014-04-10 11:32] woodardjoshua commented on #18
Alan, did the initial matlab run work for you?

On Thu, Apr 10, 2014 at 2:26 AM, Alan Orth notifications@github.com wrote:

##

---

Joshua D. Woodard, PhD
Assistant Professor of Agribusiness and Finance
Zaitz Family Sesquicentenntial Faculty Fellow
David R. Atkinson Center for a Sustainable Future Faculty Fellow
Dyson School of Applied Economics and Management
Cornell University
Phone: (217) 979-

[2014-04-11 08:31] alanorth commented on #18
Installing Matlab now... the headless install (without X11) is a pain in the ass, so I've installed some X11 libs and am installing with `ssh -X`... I'll keep you posted.

[2014-04-11 08:56] alanorth commented on #18
Ok, MatLab is running on the server now... :thumbsup:

Installation notes in this gist: https://gist.github.com/alanorth/baf2b6d79759c405d95e

Next I will try to run the code @apurbashee gave me.

[2014-04-11 11:57] woodardjoshua commented on #18
Make sure it is most recent version. I sent it to Nir and believe it is on
github. Thanks!

Josh
On Apr 11, 2014 4:56 AM, "Alan Orth" notifications@github.com wrote:

[2014-04-11 12:25] alanorth commented on #18
@woodardjoshua Ok, cloning the Gizra/IBLI repo right now...

[2014-04-11 13:30] alanorth commented on #18
Ok, I got it running on the server but I get an error about a missing `fminunc` function. Output here: https://gist.githubusercontent.com/alanorth/4e537b6d63ed980ff082/raw/1d00212502aa2376ce4de36cd72d9b22a71aef39/gistfile1.txt

[2014-04-11 13:35] woodardjoshua commented on #18
It means that you do not the have the optimization toolbox loaded. Do you
have the optimization toolbox?

On Fri, Apr 11, 2014 at 9:30 AM, Alan Orth notifications@github.com wrote:

##

---

Joshua D. Woodard, PhD
Assistant Professor of Agribusiness and Finance
Zaitz Family Sesquicentenntial Faculty Fellow
David R. Atkinson Center for a Sustainable Future Faculty Fellow
Dyson School of Applied Eco

[2014-04-11 13:36] alanorth commented on #18
@woodardjoshua That's a good question.  I'm trying to figure out how to see the packages I have installed... in Matlab...

I see it on the Mathworks website, but it looks like a separate license?

http://www.mathworks.com/products/optimization/

[2014-04-11 13:43] alanorth commented on #18
Hmmm, looks like I don't have the toolbox.

[code]

[2014-04-11 13:50] woodardjoshua commented on #18
Hmmm...well, you can either buy it, or if we don't want to expend the funds
then we need to do some sort of work around. Since we are going to
unconditional rates for the next offering, we can do that, but I will need
to send you a new set of files.

My recommendation is you save the money and let me send you the new set of
files, just means that we will be committed to unconditional rates at leas

[2014-04-11 13:54] alanorth commented on #18
@woodardjoshua Ah, ok. Proprietary software is fun; licenses for everything! ;)

Well, maybe IBLI has a few hundred bucks laying around and we can get the Optimization Toolbox addon for Matlab.  What do you think, @bnedavies?

[2014-04-11 14:18] apurbashee commented on #18
@alanorth @woodardjoshua this was what I was trying to decide before buying.. but no problem we will buy this toolbox. I do not think we need any other than optimization toolbox. what do you think @woodardjoshua ?

[2014-04-11 14:20] woodardjoshua commented on #18
I don't think you need anything but that one as far as I can tell.

On Fri, Apr 11, 2014 at 10:18 AM, Apurba Shee notifications@github.comwrote:

##

---

Joshua D. Woodard, PhD
Assistant Professor of Agribusiness and Finance
Zaitz Family Sesquicentenntial Faculty Fellow
David R. Atkinson Center for a Sustainable Future Faculty Fellow
Dyson School of Applied Economics and Management
Cornell Univer

[2014-04-11 16:10] woodardjoshua commented on #18
..but by the way Apurba, like I mentioned, since we are going to
unconditional rates you will not need it then. You might want it though as
we move forward there will probably be things we will use it for. Up to you
whether you want to get it now or when we get to that point. I can send the
new set of files in the meantime if you prefer that. Let me know.

On Fri, Apr 11, 2014 at 10:20 AM, Joshua

[2014-04-11 18:19] woodardjoshua commented on #18
Alan and Nir,

Please see the following link for the new set of matlab files, which
includes the live imports and should not require optimization toolbox.
https://www.dropbox.com/sh/5eu1ihna3dgwa04/_24MtcIH7l

This is LRLD, but once you get this one working, I will drop in the SRSD
for the same.

Note that there is a help file in that folder that explains exactly how to
run the code and where the

[2014-04-13 13:12] niryariv opened #19 "modify IDL code to be cron-aware"
basically this means that when the script is called it checks what's latest processed NDVI data, then checks for new data on USGS - if the data in USGS was already processed, the script just quits (maybe outputs a message like "no new data - latest processed was [date]"

[2014-04-13 13:23] niryariv opened #20 "set config file in IDL command line"

[2014-04-13 13:39] niryariv opened #21 "add readme.txt to eMODIS_SHELL"
explaining how to run the code from shell, what's needed, which data is stored where etc

[2014-04-13 14:06] niryariv commented on #11
handled by @mbrv at https://github.com/Gizra/IBLI/tree/master/eMODIS_SHELL

[2014-04-13 14:07] niryariv commented on #16
@bnedavies @alanorth - status? We're close to having a fully automated IDL chain, will be able to test run it on ILRI server soon

[2014-04-13 14:08] #2 closed, assigned to bnedavies

[2014-04-13 14:09] niryariv commented on #6
@apurbashee @woodardjoshua - I understand this is being worked on now?

[2014-04-13 15:07] woodardjoshua commented on #2
Fyi, this functionality has been converted into matlab.
On Apr 13, 2014 10:08 AM, "Nir Yariv" notifications@github.com wrote:

[2014-04-13 15:11] woodardjoshua commented on #6
We had talked about combining this into model but I don't know that Apurba
has made the decision yet. I can set it up to run as a single model, but
would need to get the shape file with kenya divisions and the analog of
divisiion for Ethiopia, along with the processed NDVI data to investigate
this.

In the meantime should I simply assume we are running kenya and Ethiopia
separately and convert jus

[2014-04-13 15:12] niryariv commented on #2
Great, thanks

On Sun, Apr 13, 2014 at 6:07 PM, woodardjoshua notifications@github.comwrote:

[2014-04-13 15:12] niryariv commented on #6
@apurbashee - any input?

[2014-04-14 13:53] alanorth commented on #18
Ok, downloaded the new code.  I will try running it tomorrow (Tuesday) and let you know how it goes!

[2014-04-15 08:57] alanorth commented on #18
I made some edits in pull request #22 and both `genLRLDrate.m` and `genSRSDrate.m` are running now in Linux, but getting getting errors towards the end.

Here's the log for a run of SRSD: https://gist.githubusercontent.com/alanorth/31ccb055d8e4fde86778/raw/c039839a5f0c6a293a66856ca26dd450150f52c1/gistfile1.txt

[2014-04-15 10:11] woodardjoshua commented on #18
Alan,

The error says your import is not working. Ensure that the file you are
trying to import is in the correct place, has the file correct name, and
that the contents of the file are set up and formatted the exact same as
the original files that Anton provided (I included a test file with what I
sent).

One thing that is confusing on your output though, it says the error is at
line 29 on an imp

[2014-04-15 10:29] alanorth commented on #18
@woodardjoshua well the only really Linux-izing that was **mandatory** was using forward slashes instead of backslashes in paths.  The second commit converts the line endings to use Unix line endings, which is pretty important if we're editing the files in Linux / git.  The third just cleans up a bunch of trailing white space which is kinda a nitpick of mine. :)

I will look at the imports later.

[2014-04-15 10:44] woodardjoshua commented on #18
Alan, thanks much.

All your imports look good except the last one. That file for that import
is for generating an evaluation of the current value of the index. The
format of that file should be essentially a 108 x 3 array, with the first
column being the generic location ID (1-108), the second being the current
season value of preseason NDVI (so in the case of the SRSD file the
previous LRLD seas

[2014-04-15 13:06] mbrv commented on #20
this was set.
to run the compiled code with an input config file from the command line you simply write :

idl -vm=emodisshell.sav -args "config.txt"

where "config.txt" can be any path to a valid configuration file.

[2014-04-15 13:06] mbrv commented on #21
Added

[2014-04-15 13:10] mbrv commented on #19
The process is now cron-aware : it asks for no input from the user ( the config file used to be chosen by a user prompt which is not replaced with an input argument) and thus can be ran automatically without human intervention.

a small issue that i saw is that when running a code through IDL VM - it always pops up an intro message which requires a human to click on a "click here to continue" butt

[2014-04-15 13:37] mbrv commented on #13
Hi !

While going through the code i saw some possible optimization suggestions :
1. currently the stacking of the individual NDVI's into one large multi-band image is done by reading in this order : line - band - sample .
- this way of reading the data is good and nessecery for : calculating the diagnostics image which needs all the temporal data (band) of a pixel together (for percentile calcula

[2014-04-16 06:36] niryariv commented on #13
@vrieling what do you think?

[2014-04-16 06:42] niryariv commented on #19
1. does the code also check if there's new data (ie if it was run the previous day, and no new USGS data was released, it should quit rather then re-process already processed data)?

~~1. is it possible to run without the IDL VM? eg, just running `idl emodisshell.sav -args "config.txt"`~~ moved to #20

[2014-04-16 06:49] niryariv commented on #21
thanks! could you add some info on:
1. meaning of each parameter in the config.txt file
2. what each file does, and the order they run

[2014-04-16 06:51] niryariv commented on #21
also, is the tabbing in https://github.com/Gizra/IBLI/blob/master/eMODIS_SHELL/config.txt#L7 required?

[2014-04-16 06:54] vrieling commented on #13
Yesterday and today out of office. I do not clearly see how the proposed change may speed up things, but feel free to test!

I think however that main priority for IBLI now is to have a flexible way to define aggregation areas (spatial units). Not sure if there is need to concentrate on speeding up now but if you see good options,please try and check if output is stable. I do not envisage reprogra

[2014-04-16 07:40] alanorth commented on #18
Ok!  Found another Windows-style path that needed to be fixed (#23).  Now the code runs to completion and produces, for example (SRSD):

[code]

[2014-04-16 08:30] niryariv opened #24 "Provide SSH access to the server"

[2014-04-16 08:40] niryariv opened #25 "setup Ubuntu 12.04 dev VM"
we'll be using U 12.04 in the IBLI server - please make sure your dev VM uses that version and the IDL runs ok on it.

[2014-04-16 09:24] niryariv commented on #6
@apurbashee following our call, are you working with @woodardjoshua on this?

[2014-04-16 11:11] woodardjoshua commented on #18
Yes great! Is it clear from the read me file I included as to what those
outputs are?
On Apr 16, 2014 3:40 AM, "Alan Orth" notifications@github.com wrote:

[2014-04-17 07:41] niryariv commented on #20
@mbrv is it possible to run without the IDL VM?

eg, just running `idl emodisshell.sav -args "config.txt"` - with IDL itself installed on Linux, not the VM.

[2014-04-17 08:38] niryariv opened #26 "Index values"
@apurbashee could you list the various index levels for the map (eg: `0.1-0.299 high risk red`) and which CSV file in https://github.com/Gizra/IBLI/tree/master/IBLIMatlab we should be reading the indexes from?

[2014-04-17 09:06] apurbashee opened #27 "Implement Ethiopian contract (Czndvi based) in all divisions in Kenya"
Since Czndvi based insurance is simple and easily scalable, IBLI team would like to explore possibility of Czndvi based insurance in Kenya in future... will advise about this step later in the process.

[2014-04-17 09:16] apurbashee opened #28 "Interactive selection provision of locations and Kebeles – Post launch issue"
We will work on this issue after the launch of this web platform. But invite suggestions on the process of doing it...

[2014-04-17 09:52] apurbashee commented on #26
@niryariv The Indexes can be read from “SRSDfinalIndex.csv” and “LRLDfinalIndex.csv”. And for index updating we will get them after putting the Czndvi for the ongoing season as described by @woodardjoshua in “Readme.txt”..
The color coding of the index for IBLI Kenya are the following
Green: 0 - 0.06
Yellow: 0.06 - 0.08
Orange: 0.08 – 0.1
Red: 0.1 – 0.15
Black: 0.15 – 1.0
The color coding of Ethio

[2014-04-17 10:19] mbrv commented on #25
no problem : my dev VM is also U 12.04 exactly.

[2014-04-17 10:26] niryariv commented on #25
cool, closing then

[2014-04-17 10:26] #25 closed, assigned to mbrv

[2014-04-22 10:34] niryariv opened #29 "setup installation profile"

[2014-04-22 10:36] niryariv opened #30 "setup bootstrap theme"
https://wrapbootstrap.com/theme/highland-multipage-business-template-WB05K85MJ

color scheme: http://cgspace.cgiar.org/handle/10568/21794
logos: http://ilri-comms.wikispaces.com/ILRI+Logo

[2014-04-22 10:39] niryariv opened #31 "Create homepage template"
https://docs.google.com/a/gizra.com/drawings/d/1mL1Y3c-6lY3NAbOXHpG_v8Z5RXt0Bo0ApVrVAYrM6FI/edit

https://docs.google.com/drawings/d/1zKVPr0XZpdgyb9_xGdFMuzsNGCnWYLvEymcv9XRJNws/edit

Wajir images dropbox: https://www.dropbox.com/sh/o3ex18ffeyhtavt/iSPH4j0NDp?n=165012481

Other images here: https://drive.google.com/a/gizra.com/?pli=1&urp=https://drive.google.com/a/gizra.com/?pli%3D1%26auth%3DD#fol

[2014-04-22 10:53] niryariv commented on #26
@apurbashee - so, this means that we need to refer to LRLD or SRSD depending on which season we're displaying data for?

[2014-04-23 07:55] bnedavies commented on #31
@niryariv I couldn't fit all the information listed on the bootstrap/highland theme on to one page - but if you look at the template versus the two pages I have, they should all fit into highland as it is designed.

[2014-04-23 12:49] bnedavies commented on #16
@alanorth Anything you need me to do for the IDL license?

[2014-04-23 13:08] alanorth commented on #16
@bnedavies Nope!  I actually haven't had time to look at it yet, but Fred (the contact in RMG who does the licensing) was on leave until April 24th anyways, so I'll ask him tomorrow.

[2014-04-23 13:13] bnedavies commented on #16
@alanorth great, thank you :)  Let me know if you need me to track him down, since he sits in Mara

[2014-04-23 14:33] niryariv commented on #1
we'll be using the STP for the gateway, closing for now

[2014-04-23 14:33] #1 closed, assigned to niryariv

[2014-04-23 14:34] niryariv commented on #6
@apurbashee status on this?

[2014-04-23 14:34] niryariv commented on #7
this is continued in #26 - closing

[2014-04-23 14:34] #7 closed, assigned to apurbashee

[2014-04-23 14:36] #9 closed, assigned to bnedavies

[2014-04-23 14:39] niryariv commented on #11
continued on #16 #19 #20 etc. closing

[2014-04-23 14:39] #11 closed, assigned to mbrv

[2014-04-23 14:39] niryariv commented on #12
closing: will be using IDL for now

[2014-04-23 14:39] #12 closed, assigned to vrieling

[2014-04-23 14:40] #15 closed, assigned to niryariv

[2014-04-23 14:41] niryariv commented on #10
handling in #14

[2014-04-23 14:41] #10 closed, assigned to niryariv

[2014-04-23 14:42] iddodror commented on #12
Can I please be removed from these email alerts?

Thanks

Best wishes,

Iddo
_ _
Sent from mobile

On Apr 23, 2014, at 17:40, "Nir Yariv" <notifications@github.com<mailto:notifications@github.com>> wrote:

closing: will be using IDL for now

—
Reply to this email directly or view it on GitHubhttps://github.com/Gizra/IBLI/issues/12#issuecomment-41168666.

[2014-04-23 14:46] niryariv commented on #12
I can't do it on my side, but you can easily do it by:
1. open https://github.com/Gizra/IBLI/issues
2. click "unwatch"

​3. select "Not watching"

On Wed, Apr 23, 2014 at 5:42 PM, iddodror notifications@github.com wrote:

[2014-04-23 14:48] woodardjoshua commented on #6
I am working on this and should have by weekend.
On Apr 23, 2014 10:34 AM, "Nir Yariv" notifications@github.com wrote:

[2014-04-23 14:50] iddodror commented on #12
Well, I never signed up for this, and don't know my login...  Can the person who signed me up take me off the list?

Best wishes,

Iddo
_ _
Sent from mobile

On Apr 23, 2014, at 17:46, "Nir Yariv" <notifications@github.com<mailto:notifications@github.com>> wrote:

I can't do it on my side, but you can easily do it by:
1. open https://github.com/Gizra/IBLI/issues
2. click "unwatch"

​3. select "Not

[2014-04-23 14:57] alanorth commented on #12
Iddo you apparently have a GitHub account... so you'll have to try to log in and unwatch. :)

https://github.com/iddodror

[2014-04-25 07:46] alanorth commented on #24
Update: I'm still waiting on ICT to do the port mapping (External -> Internal).  Sorry!

[2014-04-25 07:47] alanorth commented on #16
Ok, I've gotten the license for IDL.  I will acquire the software and try to install it in the Linux server, and keep you posted...

[2014-04-29 07:14] niryariv commented on #26
@apurbashee can you explain how we should use the SRSD/LRLD indexes? Which do we show to the user when?

[2014-04-29 07:24] woodardjoshua commented on #26
After the respective insured season is over (LRLD or SRSD) we publish the
realized index value for that season based on the czNDVI outcome.

For example, the LRLD season runs from March 1-Sept 30th, so right now we
are in the LRLD season for 2014. When final NDVI data become available for
the LRLD period for 2014, we download and process it (which occurs sometime
in October 2014) and then calculat

[2014-04-29 13:20] niryariv opened #33 "homepage video embed"
from http://www.aljazeera.com/video/africa/2014/03/insurance-protects-kenya-farmers-from-drought-201432674122605362.html

looks like aje.com doesn't really have youtube-like embeds, so here's the HTML:

[code]

if it doesn't work out of the box, let's use the [Economist](http://www.economist.com/news/middle-east-and-africa/21601022-new-kind-insurance-may-protect-herders-against-drought-insure-my-c

[2014-04-29 13:47] niryariv opened #34 "homepage map"
Create a Build basic app with angular leaflet.
http://tombatossals.github.io/angular-leaflet-directive/#!/examples/customized-markers

[2014-04-30 08:27] niryariv commented on #26
Thanks @woodardjoshua. So to create the website mortality indexes map, we'll need to determine current season (SRSD/LRLD) and read the values from, say, [LRLDfinalIndex.csv](https://github.com/Gizra/IBLI/blob/master/dataProcessing/IBLIMatlab/LRLDfinalIndex.csv). Correct?

[2014-04-30 11:02] apurbashee commented on #26
@niryariv , regarding how we should use SRSD/LRLD indexes we will use them in two ways.
1) Index update: as Josh mentioned, this will be for an ongoing insured season. Since we have eMODIS available every 10 days we should have index update every 10 days as well. Based on the realized Czndvi we will get index values as coded in MatLab. Then, these indexes will be used to create the color maps usin

[2014-04-30 15:19] alanorth commented on #24
Ok, today they finally came through with the IP mapping and the server is now accessible from outside ILRI.  I will give you guys access soon.  Bad timing though, as I'm going to be out of town until Sunday (so will probably email you credentials on Monday).

[2014-04-30 15:49] niryariv commented on #24
thanks Alan!

[2014-05-01 08:09] #21 closed, assigned to mbrv

[2014-05-01 08:09] #20 closed, assigned to mbrv

[2014-05-01 08:09] #19 closed, assigned to mbrv

[2014-05-04 09:13] niryariv commented on #26
What's the name of the file we should read indexes from when generating the map? Is it LRLDfinalIndex.csv and SRSDfinalIndex.csv or do they need to go through more processing before being used?

[2014-05-04 15:55] woodardjoshua commented on #26
These are the processed values.
On May 4, 2014 5:13 AM, "Nir Yariv" notifications@github.com wrote:

[2014-05-05 13:23] alanorth commented on #24
Emailing @niryariv and @mbrv with shell access to the server...

[2014-05-07 05:47] alanorth commented on #24
Ok, both @niryariv and @mbrv have access to the server now.  The next step is figuring out how to run IDL (#16).

[2014-05-07 05:47] #24 closed, assigned to alanorth

[2014-05-07 05:50] alanorth commented on #16
@niryariv and @mbrv have access to the server, and the next step is IDL... I completely blanked yesterday when talking to @mbrv about IDL, forgetting that we already had the license and software for it!

[code]

[2014-05-07 05:59] niryariv commented on #16
great, thanks! assigning the issue to you (if you prefer @mbrv or myself install, just let me know - I suppose that would require root?)

[2014-05-08 12:53] niryariv opened #35 "display division map"
This map will show the divisions color coded according to the index value. The process to create it is as follows:
1. Read division names / IDs from [divisions_id.csv](https://github.com/Gizra/IBLI/blob/master/dataProcessing/data/divisions_id.csv). We need the DIVISION and DivID values.
2. Read mortality index data: If the current month is between March-September, use [LRLDFinalIndex.csv](https://

[2014-05-09 14:46] alanorth commented on #16
Ok. got IDL installed today, but having problems starting the license server (damn proprietary software!!).

[code]

But this file _does exist_:

[code]

And it's executable... which made me think maybe it was a 32-bit issue, but the file is 64-bit:

[code]

Very bizarre... did you install IDL in Linux, @mbrv?

[2014-05-09 14:51] alanorth commented on #16
Ooh, apparently my headless Ubuntu 12.04 LTS server install was super minimal; I needed `lsb-core`.  Now `idl` is working!

[2014-05-09 15:01] alanorth commented on #16
@mbrv can now log in and test... I have copied the IBLI repo to `/opt/IBLI`, but I'm not sure where we will want it in the end.  I assume the IDL scripts are `dataProcessing/eMODIS_IDL_scripts/`??

[2014-05-09 15:04] niryariv opened #36 "execute IDL code from shell with no human intervention on the data processing server"

[2014-05-09 15:04] niryariv commented on #16
![](http://media2.giphy.com/media/gCMyCPHTUuPSM/200_s.gif)

closing - @mbrv over to you at #36

[2014-05-09 15:04] #16 closed, assigned to alanorth

[2014-05-11 08:46] #29 closed, assigned to NofarGizra

[2014-05-11 08:48] bricel commented on #31
@NofarGizra  -
- Create a content type (page) with a simple wysiwyg.
- Migrate.

[2014-05-11 12:15] NofarGizra opened #38 "Menu"
![web platform homepage google drawings](https://cloud.githubusercontent.com/assets/3273122/2938363/fe099a6c-d905-11e3-844f-06d39121ffec.png)

[2014-05-11 13:09] niryariv opened #39 "Automating data processing chain"
The final step in automating the data processing code would be to allow all the different parts to work together. There are 3 parts so far:
1. Fetch new NDVI data from usgs.gov
2. Process data via IDL toolchain
3. Process output via Matlab.

(Current 1 & 2 are done by the same code - we may want to separate them in order to have a more loosely coupled process chain).

I suggest we add code to the

[2014-05-11 14:57] mbrv commented on #39
Regarding seperating the USGS Repository fetching and the tool cahin it self -  no problem it can be done easily. should i write a seperate "getRepository" function ?

the IDL code already has something similar to what you mentioned so that it runs only if there is new data from USGS (as suggested in https://github.com/Gizra/IBLI/wiki/IDL-Toolchain : the code makes sure we update only on the 4th ,

[2014-05-12 10:57] niryariv commented on #39
@mbrv can you link (on github) to the part of the code that handles the DL? if we pull it out of the main code, perhaps we'll rewrite in some Python or something (or just wget on shell if it's really simple code)

[2014-05-12 15:04] woodardjoshua commented on #39
This should work in matlab as well. If you import a csv with date
associated with IDL files, and compare it with previous (which you can
export and save from previous run) it should be easy to write an if/exit
statement to compare.

Here are the relevant date and time functions you would need

_http://www.mathworks.com/help/matlab/date-and-time-operations.html
http://www.mathworks.com/help/matlab/

[2014-05-13 05:44] mbrv commented on #39
@niryariv   - Sure , just : what does DL means ?

[2014-05-13 05:45] woodardjoshua commented on #39
Apologies...meant IDL...the NDVI files.

On Tue, May 13, 2014 at 1:44 AM, mbrv notifications@github.com wrote:

##

---

Joshua D. Woodard, PhD
Assistant Professor of Agribusiness and Finance
Zaitz Family Sesquicentennial Faculty Fellow
David R. Atkinson Center for a Sustainable Future Faculty Fellow
Dyson School of Applied Economics and Management
Cornell University
Phone: (217) 979-1251 Fax: (81

[2014-05-13 05:51] mbrv commented on #39
Sure . The part of the code that handles the NDVI Repository is highlighted here :

https://github.com/Gizra/IBLI/blob/master/dataProcessing/eMODIS_SHELL/emodisshell.pro#L175-291

*note that " ; " in IDL means comment

[2014-05-13 08:10] #38 closed, assigned to NofarGizra

[2014-05-13 08:10] #31 closed, assigned to NofarGizra

[2014-05-13 08:10] #30 closed, assigned to NofarGizra

[2014-05-13 08:21] bricel commented on #33
- [x] - Add this module https://github.com/hiromedia/uppercut/tree/master/uppercut/modules/custom/page_element
- [x] - Migrate like in uppercut
- [x] - add above move to 'Welcome to ....'
- [x] - Change  page title and short title to IBLI and  Index based...

[2014-05-13 13:49] #33 closed, assigned to NofarGizra

[2014-05-13 14:08] niryariv commented on #34
are we using angular on IBLI?

On Tue, May 13, 2014 at 5:01 PM, Brice Lenfant notifications@github.comwrote:

[2014-05-13 14:16] bricel commented on #34
yes, for the map

[2014-05-13 14:17] bricel commented on #34
@ceoaliongroo - Can you guide @NofarGizra on how to create an angular app from zero with our boiler plate.

Thanks

[2014-05-20 09:08] #34 closed, assigned to NofarGizra

[2014-05-20 09:09] niryariv opened #45 "add map to the homepage"
integrate the code in #44 into the HP

[2014-05-21 09:40] niryariv opened #46 "create download script separate from IDL"

[2014-05-26 07:31] niryariv opened #47 "apply bootstrap tempate to inner pages"

[2014-05-26 10:10] niryariv opened #49 "Provide content for internal pages"

[2014-05-26 13:05] niryariv opened #50 "changed "PROCCESSED" to "PROCESSED" everywhere in the code"
also "PRCOESSED" to "PROCESSED" :)

[2014-05-26 13:11] niryariv opened #51 "the map should replace the main homepage element"
the area that currently has the "Index based livestock insurance" and the mac/ipad/ipad image should be replaced by the map

![screen shot 2014-05-26 at 4 07 59 pm](https://cloud.githubusercontent.com/assets/1771/3082686/42070f56-e4d7-11e3-82fe-ac4ee99834ff.png)

[2014-05-26 13:51] niryariv opened #52 "separate the history downoad/calculations to a separate script"
the script should be able to tell if the data was already downloaded, so it won't do it needlessly

[2014-05-26 13:51] niryariv opened #53 "add dates in the logfile"

[2014-05-26 13:52] niryariv opened #54 "remove download callback from the logfile"
it's filling up the files

[2014-05-27 09:30] niryariv opened #56 "map in hp fixes"
- [x] allocate %50 more height to the map element
- [x] set min/max zoom levels: min should be (the level where the whole area is shown - 1), max should be (the level where biggest division fills the screen - 1)

[2014-05-27 11:18] niryariv opened #57 "Add content to "What is IBLI" page"
https://docs.google.com/a/gizra.com/drawings/d/1uyXtSE02bz_-p6vXVyBf3e_lsFZaXgcWpAQ_Pe2P-aI/edit

[2014-05-27 11:24] niryariv opened #58 "implement "Where is IBLI offered" page"
https://docs.google.com/a/gizra.com/drawings/d/1uyXtSE02bz_-p6vXVyBf3e_lsFZaXgcWpAQ_Pe2P-aI/edit

assigning to self, need to discuss w/ Bryn

[2014-05-27 11:27] niryariv opened #59 "create boxes under map"
as in the bootstrap template, we'll have a bunch of boxes under the map. each one links to its own page and has a [glyph icon](http://getbootstrap.com/components/#glyphicons-glyphs).

The text/icons are:
- Sign-up for IBLI Updates (fa-envelope) ~~(glyphicon glyphicon-envelope)~~
- Publications  (fa-book) ~~(glyphicon glyphicon-book)~~
- Premium Calculator (fa-keyboard-o) ~~(glyphicon glyphicon-cal

[2014-05-27 11:41] niryariv opened #60 "add content for "contact us" page"
based on the [bootstrap template](http://wrapbootstrap.com/preview/WB05K85MJ).

under **Our Address**

IBLI Project Development Manager
International Livestock Research Institute (ILRI)
P.O. Box 30709 – 00100, Nairobi – Kenya
Tel: +254-20-422 3000 (SwitchBoard) / 3043 (Direct)
Fax: +254-20-422 3001

under **Map**
the map at https://www.google.com/maps/@-1.27137,36.725557,1605m/data=!3m1!1e3?hl=en

[2014-05-27 11:47] niryariv opened #61 "create Gallery"
1. add link in top nav bar (between "Blog" and "Contact Us")
2. create gallery page based on http://wrapbootstrap.com/preview/WB05K85MJ
3. use images from https://www.dropbox.com/sh/o3ex18ffeyhtavt/iSPH4j0NDp?n=165012481

[2014-05-27 12:02] niryariv opened #62 "fix welcome box"
1. change "WELCOME MESSAGE" to "WELCOME TO IBLI"
2. add a video element with the AJ video: https://drive.google.com/file/d/0BwyWK0Vut1RBMzQyXzRnbTZ5Yzg/edit?usp=sharing

[2014-05-27 12:28] niryariv opened #63 "add "IBLI ON THE GROUND" element"
this will be where the current page shows "RECENT WORKS"
1. change title to IBLI ON THE GROUND

add the following elements. each element has an image and links to a page with the same title:
1. "Index-Based Livestock Takaful in Wajir"
   ![wajir033](https://cloud.githubusercontent.com/assets/1771/3091245/36ca13e0-e59a-11e3-8fe1-31a8793dedc4.JPG)
   [image](https://drive.google.com/file/d/0BwyWK0Vu

[2014-05-27 12:36] niryariv opened #64 "change footer info"
- under CONTACT US:

IBLI Project Development Manager
International Livestock Research Institute (ILRI)
P.O. Box 30709 – 00100, Nairobi – Kenya
Tel: +254-20-422 3000 (SwitchBoard) / 3043 (Direct)
Fax: +254-20-422 3001
- under GO SOCIAL:

Flickr: https://www.flickr.com/photos/ilri/sets/72157623247974374/
Wordpress: http://livestockinsurance.wordpress.com/

(the rest will come later)
- under SUBSCRI

[2014-05-27 12:37] niryariv opened #65 "need IBLI's social links"
YouTube, Twitter, Facebook etc..

[2014-05-27 13:11] niryariv opened #66 "create mailchimp account"
@bnedavies could you create an account at http://mailchimp.com/ and send us the login info? we'll use this for the email newsletters

[2014-05-28 10:08] NofarGizra commented on #62
@niryariv
Please upload the MP4 file to a player service (such as YouTube) so we can implement the video in IBLI content.

[2014-05-28 10:11] niryariv commented on #62
@NofarGizra please use this instead for now: https://www.youtube.com/watch?v=wCmqEcvOSwU

[2014-05-28 10:12] niryariv opened #69 "upload video to youtube"
We need to upload the [AJ video](https://drive.google.com/file/d/0BwyWK0Vut1RBMzQyXzRnbTZ5Yzg/edit?usp=sharing) to YouTube (or Vimeo etc). Is there an IBLI YouTube account?

[2014-05-28 11:01] NofarGizra commented on #62
Dev is updated:

http://dev-ibli.gotpantheon.com/

[2014-05-28 11:03] niryariv opened #70 "reimpelement maxBounds on the HP map"
seems like we had max bounds working well, but after today's update they're gone - please reinstate.

[2014-05-28 11:13] niryariv opened #71 "updates section"
![screen shot 2014-05-28 at 2 05 10 pm](https://cloud.githubusercontent.com/assets/1771/3103534/fc784392-e657-11e3-869a-f489f7e11712.png)
- [x] replace "LAST UPDATES" with "LATEST IBLI UPDATES"
- [ ] "News" tab will feature items entered by admin
- [ ] "Events" tab will feature upcoming events from IBLI calendar (@bnedavies  - please provide us with URL for the calendar - could be Google Calendar)

[2014-05-29 05:57] alanorth commented on #66
Psssst, @bnedavies can you change the password and email it to Nir on gmail? :)

[2014-05-29 10:05] niryariv opened #72 "long delay in IDL aggragation code"
from the log file (currently that's the end of the file):

[code]

we should see what's the reason for the 11 hour delay for between the last 2 lines

[2014-05-29 13:35] niryariv opened #73 "upload reports in the reports folder"
please place all the PDF reports that will be linked to in the Reports page [here](https://drive.google.com/a/gizra.com/folderview?id=0B7Lzf69iarhdWlBIMlYwVW5sWEU&usp=sharing)

[2014-05-29 14:14] niryariv opened #74 "add region pixel count to the log file"
so we'll know what's causing the delay

(replacing #72 )

[2014-06-01 08:50] niryariv opened #75 "cancel auto-play on HP video"
right now the video starts playing automatically when loaded - we need to make it play only when the user clicks the play button.

[2014-06-01 09:27] NofarGizra opened #77 "Icons in Firefox"
Most icons, such as the follow-us icons and the yellow 5-stars, are actually a font.
The font looks good in Chrome, but does not work in Firefox (I haven't checked in other browsers).
So we can either make the font work in all browsers by adding more font files, or we can replace the icons-font with image icons.

[2014-06-01 09:44] niryariv commented on #77
it's using [Font Awesome](http://fortawesome.github.io/Font-Awesome/) - it's pretty popular and cross browser, so the issue is probably on our side.

it's not a big deal in any case (we don't need the star icons and dont have the links for the social icons anyway) so let's put this aside for now

[2014-06-01 11:13] mldk-tech commented on #64
@niryariv
We do not have the wordpress Icon.

[2014-06-01 11:31] niryariv commented on #64
@DavidGizra

[code]

should provide this - see [here](http://fortawesome.github.io/Font-Awesome/icon/wordpress/)

[2014-06-01 11:48] mldk-tech commented on #64
@niryariv
Yes i know, but the class does not exist.

[2014-06-01 13:21] niryariv opened #83 "Questions re: updates section"
1. Where do the items in News come from? Entered by admin on the site, or some external feed?
2. Same question regarding Events - is this a Google Calendar or similar feed?
3. What should be the tab order of News / Events / Partners?

cc @DavidGizra @NofarGizra

[2014-06-01 14:32] #56 closed, assigned to NofarGizra

[2014-06-01 14:32] #62 closed, assigned to NofarGizra

[2014-06-01 14:38] #35 closed, assigned to NofarGizra

[2014-06-01 14:38] #51 closed, assigned to NofarGizra

[2014-06-01 14:39] #45 closed, assigned to NofarGizra

[2014-06-01 14:42] niryariv commented on #70
needs advice from @ceoaliongroo

[2014-06-01 15:05] mldk-tech commented on #71
You see the last ibli updates plugin.

![ibli last update](https://cloud.githubusercontent.com/assets/5812423/3141891/2c75715c-e99e-11e3-8139-d7139ed205df.png)

[2014-06-01 15:07] niryariv commented on #71
@DavidGizra just show the partners logos as a list, no text needed

[2014-06-01 15:29] niryariv opened #84 "when hovering on a division, set opacity to 0.3"
![screen shot 2014-06-01 at 6 28 46 pm](https://cloud.githubusercontent.com/assets/1771/3141941/85d631de-e9a1-11e3-8d90-bf86aef67a6a.png)

[2014-06-01 15:56] niryariv opened #85 "import all font awesome icons via CDN link"
as in

[code]

hopefully should solve both #64 and #77

[2014-06-01 16:18] mldk-tech commented on #71
![ibli last update](https://cloud.githubusercontent.com/assets/5812423/3142063/63f10394-e9a8-11e3-99cb-36c0e81a83a7.png)

[2014-06-02 06:30] mldk-tech commented on #60
You see the new google map in the contact us page.
![map](https://cloud.githubusercontent.com/assets/5812423/3144353/708bf970-ea1f-11e3-9e7b-eb5cfa36e31b.png)

[2014-06-02 07:20] ceoaliongroo commented on #70
https://github.com/tombatossals/angular-leaflet-directive/blob/master/doc/maxbounds-attribute.md

@NofarGizra  Add this values in the map configuration

[code]

add maxbounds to the map

[code]

cc: @niryariv

[2014-06-02 08:07] #49 closed, assigned to bnedavies

[2014-06-02 08:10] NofarGizra commented on #64
@DavidGizra
Let's have a follow-up PR to put all footer texts inside `t()`.

[2014-06-02 10:49] niryariv commented on #59
@NofarGizra replaced glyph icons with FA, above ^

[2014-06-02 11:10] NofarGizra commented on #64
Update:
@YuriGizra will do the follow-up PR.

[2014-06-04 09:05] bnedavies commented on #69
iblikenyaethiopia@gmail.com is the email used for youtube login.  will send password via email :)

[2014-06-04 09:07] bnedavies commented on #65
email to login for all is iblikenyaethiopia@gmail.com, password will send via email

[2014-06-04 16:00] niryariv commented on #65
@bnedavies i just need the links to the IBLI pages in the above social sites

[2014-06-05 07:27] niryariv commented on #69
uploaded: http://youtu.be/Ww88kQP2p4s

[2014-06-05 07:27] #69 closed, assigned to bnedavies

[2014-06-05 07:28] niryariv opened #92 "replace HP video"
we'll use this instead:

[code]

[2014-06-05 07:47] niryariv opened #94 "make sure all images under "IBLI ON THE GROUND" are the same size as the left one"
![screen shot 2014-06-05 at 10 46 12 am](https://cloud.githubusercontent.com/assets/1771/3184510/8e885438-ec85-11e3-86ac-54f621a8155f.png)

[2014-06-05 08:31] niryariv commented on #66
@bnedavies the user/pass you sent me on email don't seem to work - could you check again please?

[2014-06-05 08:39] mldk-tech commented on #77
Done

[2014-06-05 08:50] niryariv commented on #61
we'll use the "Gallery Item" template (with carousel) with a few changes:

![screen shot 2014-06-05 at 11 46 41 am](https://cloud.githubusercontent.com/assets/1771/3185073/68143db8-ec8e-11e3-9802-50426ff96618.png)

[2014-06-05 09:01] niryariv opened #96 "remove "action..." in the boxes under map"
it's fine the box doesn't stretch at all, and just changed color on hover.

![screen shot 2014-06-05 at 11 59 59 am](https://cloud.githubusercontent.com/assets/1771/3185180/e98da860-ec8f-11e3-9ab1-22606b929948.png)

[2014-06-05 09:02] niryariv commented on #96
on second thought, please remove the whole stretch effect - just leave the box in the same size, same format, with blue background on hover

[2014-06-05 09:03] NofarGizra commented on #96
@DavidGizra
- Remove the "Action..." links from boxes.
- Do not change CSS on hover.

[2014-06-05 09:08] niryariv opened #97 "add contact form to the "Contact Us" page"
based on http://7.pdvop2sz.z8.ru/highland/1.4/contact.html - remove the "upload file" link.

will update here with the IBLI contact email.

[2014-06-05 09:11] niryariv opened #98 "IBLI contact email"
the Contact Us form will send the inquiries directly to an IBLI contact email - what email address should we use?

[2014-06-05 12:33] niryariv opened #100 "pull the RSS feed from the blog into the LAST UPDATES "news" tab"
http://livestockinsurance.wordpress.com/feed/

[2014-06-05 12:40] bnedavies commented on #98
Is it possible to list two?  b.davies@cgiar.org & iblikenyaethiopia@gmail.com?

[2014-06-05 12:45] niryariv commented on #98
from our experience, the best method is to have a generic email like contact@ibli.com and then have it forward to any address you like (at some point you may hire someone to handle it and would want the mails going directly to them etc)

[2014-06-05 14:20] niryariv opened #101 "add Ethiopia to the map"
There are 10 regions in Ethiopia which we'll add the map:
- [ ] replace the current GeoJSON with [this](https://github.com/Gizra/IBLI/blob/master/dataProcessing/Ethiopia/iblimatlab/Ken%2BEthShapefile/Ken%2BEth/KenyaEthiopia_IBLIunits_May2014.geojson) Kenya + Ethiopia one.
- [ ] add the Ethiopian index data: [SRSD15](https://github.com/Gizra/IBLI/blob/master/dataProcessing/Ethiopia/iblimatlab/OutCu

[2014-06-05 15:00] #53 closed, assigned to mbrv

[2014-06-05 15:24] mldk-tech commented on #66
You can see that i create the mailchimp list and u can see it in your Drupal site.

![ibli mailchimp](https://cloud.githubusercontent.com/assets/5812423/3189600/8a8d80ac-ecc5-11e3-808b-6620711ef212.png)
![lists _mailchimp](https://cloud.githubusercontent.com/assets/5812423/3189601/8d44b662-ecc5-11e3-86ea-6771fee4bc68.png)

[2014-06-05 15:45] niryariv opened #102 "Gallery - should we use Flickr or implement our own?"
We noticed ILRI already has a Flickr page (and assume there will be one specifically for IBLI) - should we use that for the gallery page or implement our own?

[2014-06-06 13:11] bnedavies commented on #65
https://twitter.com/IBLI_Kenya
https://twitter.com/IBLI_Ethiopia
https://www.youtube.com/channel/UCLcdSaDIcb6VHq3GflfQL0w

I owe you facebook still, we haven't published the page yet, but will do so next week

[2014-06-08 14:54] NofarGizra commented on #61
This issue is waiting for #102 .

[2014-06-09 06:58] NofarGizra commented on #84
Done.
(No PR here because it is done within the IBLI-map project)

[2014-06-09 07:00] NofarGizra commented on #84
![ibli map03](https://cloud.githubusercontent.com/assets/3273122/3213986/c0bc1676-efa3-11e3-880e-64fe5f358ce8.png)

[2014-06-09 08:08] bnedavies commented on #102
yes, creating one now with pictures.  will share shortly

[2014-06-09 08:12] bnedavies opened #106 "Make "IBLI" more prominent on HP"
Is it possible to make the "IBLI" more prominent on the home page and/or spell it out to make it bigger?

[2014-06-09 08:14] bnedavies opened #107 "Add title "Current Index Readings" to map legend on home page"

[2014-06-09 08:23] niryariv commented on #107
@NofarGizra please put it here:

![screen shot 2014-06-09 at 11 16 42 am](https://cloud.githubusercontent.com/assets/1771/3214447/47788298-efaf-11e3-8c5e-afd530db4d4a.png)

[2014-06-09 08:26] bnedavies opened #108 "Publications page"
Google shared file created with some initial documents.  More to come.  @niryariv will we have the ability to add and delete?

[2014-06-09 08:34] bnedavies commented on #65
facebook: https://www.facebook.com/pages/Index-Based-Livestock-Insurance-Kenya-and-Ethiopia/1408317826105114

[2014-06-09 08:47] niryariv opened #109 "link footer icons to social sites"
https://twitter.com/IBLI_Kenya
https://twitter.com/IBLI_Ethiopia
https://www.youtube.com/channel/UCLcdSaDIcb6VHq3GflfQL0w
https://www.facebook.com/pages/Index-Based-Livestock-Insurance-Kenya-and-Ethiopia/1408317826105114

![screen shot 2014-06-09 at 11 45 14 am](https://cloud.githubusercontent.com/assets/1771/3214613/97ceae40-efb2-11e3-9a08-f6d6ecc9bc92.png)

[2014-06-09 09:01] niryariv commented on #108
@bnedavies sure, you will be able to edit the page any time. I didn't get the share email from Google, could you post the link here? Thanks!

[2014-06-09 11:09] niryariv commented on #106
@NofarGizra please change font size to 28px, color to #fff:

![screen shot 2014-06-09 at 2 08 30 pm](https://cloud.githubusercontent.com/assets/1771/3215843/6cae4c16-efc6-11e3-8db3-354ef43914eb.png)

[2014-06-09 12:16] bnedavies commented on #108
https://drive.google.com/folderview?id=0BwyWK0Vut1RBR2lNVURpdUV5Vms&usp=sharing

[2014-06-09 12:19] bnedavies commented on #98
contactibli@cgiar.org

[2014-06-09 12:33] bnedavies commented on #61
https://www.flickr.com/photos/125283442@N04/

iblikenya on flickr

[2014-06-09 13:47] niryariv commented on #98
@NofarGizra please have the contact form send the info to contactibli@cgiar.org

[2014-06-09 13:49] niryariv commented on #108
@NofarGizra the page should contain links to the PDF/etc publications above

[2014-06-10 06:32] bnedavies opened #110 "Events Calendar"
<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=iblikenyaethiopia%40gmail.com&amp;color=%232952A3&amp;ctz=Africa%2FNairobi" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

[2014-06-10 06:44] bnedavies opened #111 "Events page - Google calendar link"
<iframe src="https://www.google.com/calendar/embed?src=iblikenyaethiopia%40gmail.com&ctz=Africa/Nairobi" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

https://www.google.com/calendar/render?tab=mc&pli=1

[2014-06-10 06:55] bnedavies opened #112 "Please change "Mifugo Maisha in Isiolo" picture to attached"
![img_20140119_093704 -revised](https://cloud.githubusercontent.com/assets/6724026/3226391/1cb3b952-f06c-11e3-9281-234e36bedd07.jpg)

[2014-06-10 06:57] bnedavies opened #113 "Picture titles on homepage"
Please revise as follows:

Index-Based Livestock Takaful in Wajir (same)
Index- Based Livestock Insurance in Marsabit (changed)
Index-Based Livestock Insurance in Borana (changed)
Index-Based Livestock Insurance in Isiolo (changed)

[2014-06-10 07:01] bnedavies opened #114 "Change Video on homepage to AlJazeera one"
https://www.youtube.com/watch?v=nS9MbS8qfuc

[2014-06-10 07:02] bnedavies opened #115 "News feed on homepage"
Link to blog - http://livestockinsurance.wordpress.com/

[2014-06-10 07:28] bnedavies opened #116 "Premium Calculator page variables/Design for action"
https://docs.google.com/spreadsheets/d/1tMQ6mTy-iUe1O1KO1tj8NOe_b1kQaRcYtbRgma3yGQ8/edit?usp=sharing

[2014-06-10 10:08] bnedavies opened #117 "This Welcome blurb should be on homepage next to video"
Welcome to IBLI

Since 2010, the International Livestock Research Institute (ILRI), and its partners, has been involved in designing, implementing, and assessing Index Based Livestock Insurance (IBLI) in Northern Kenya and Southern Ethiopia. IBLI’s objective is to improve pastoralists’ resilience to the considerable loss of livestock they incur during severe drought.

This web platform aims to imp

[2014-06-10 10:35] niryariv commented on #117
text here:
![screen shot 2014-06-10 at 1 32 12 pm](https://cloud.githubusercontent.com/assets/1771/3228753/c068ac7e-f08a-11e3-8d7a-d9d908df701f.png)

[2014-06-10 10:52] niryariv commented on #115
handling on #100

[2014-06-10 10:52] #115 closed, assigned to nobody

[2014-06-10 11:05] bnedavies opened #118 "Sign-up for IBLI updates page design"
Will we also have the ability to query information received?

https://docs.google.com/drawings/d/1-spER-CJyf23MAY_FTi4uRhxEIxENAMcUEMwjbd428U/edit?usp=sharing

[2014-06-10 11:06] niryariv commented on #114
handling in #92

[2014-06-10 11:06] #114 closed, assigned to nobody

[2014-06-10 11:07] niryariv commented on #118
@bnedavies should we require users to fill all the fields?

[2014-06-10 11:09] bnedavies commented on #118
No, I think only the email should be required.  What do you think?  I don't want it to be too bulky, but also need to balance that with people on our team who want lots of details...

[2014-06-10 12:14] niryariv commented on #118
IMHO just email, but if we show all these fields it might discourage users from signing up altogether. i think we could solve in two ways:
1. reduce the number of fields to 4-5 with only email required
2. require only email and occasionally send surveys to email subscribers with all these details

what do you say?

[2014-06-10 12:57] bnedavies commented on #118
Let's go with Option 2 but I would like email and phone number, in that case.  Sound ok?

[2014-06-10 13:06] bnedavies opened #119 "Final Index Map - Page Design"
https://drive.google.com/folderview?id=0BwyWK0Vut1RBb3JmMUVpU29fcjQ&usp=sharing

[2014-06-10 13:16] niryariv commented on #110
use the following html:

[code]

[2014-06-10 13:24] bnedavies opened #120 "Past Index Maps - Page Design"
https://docs.google.com/drawings/d/1ucK3iL4-FAww2X-a3F9IpjsCiow-e9n0SlE2xCElzXI/edit?usp=sharing

[2014-06-10 13:31] bnedavies opened #121 "Add page "Calculating your payout""
![pages](https://cloud.githubusercontent.com/assets/6724026/3230486/7228e2fe-f0a3-11e3-8ad2-68899e559d0a.png)

[2014-06-10 13:38] mldk-tech commented on #117
You can see that i add a text next to the youtube video.

![ibli homepage](https://cloud.githubusercontent.com/assets/5812423/3230598/8cf1e0ee-f0a4-11e3-87f8-f2a0e703a673.png)

[2014-06-10 13:42] #60 closed, assigned to DavidKohav

[2014-06-10 13:42] #59 closed, assigned to NofarGizra

[2014-06-10 13:42] #64 closed, assigned to YuriGizra

[2014-06-10 13:42] #71 closed, assigned to DavidKohav

[2014-06-10 13:42] #75 closed, assigned to NofarGizra

[2014-06-10 13:43] #77 closed, assigned to nobody

[2014-06-10 13:43] #85 closed, assigned to DavidKohav

[2014-06-10 14:12] mldk-tech commented on #109
You can see the footer. we have a extra twitter icon for the second link.

![icon](https://cloud.githubusercontent.com/assets/5812423/3231136/2e8ac912-f0a9-11e3-8e4a-047090b3566e.png)

[2014-06-10 14:14] niryariv commented on #109
please make sure to remove all the icons we don't have links for

[2014-06-10 14:23] mldk-tech commented on #109
![icon](https://cloud.githubusercontent.com/assets/5812423/3231331/c57a8da2-f0aa-11e3-8f2d-d55a051b562e.png)

[2014-06-11 05:52] niryariv commented on #111
closing for #110

[2014-06-11 05:52] #111 closed, assigned to nobody

[2014-06-11 05:57] NofarGizra commented on #101
@niryariv
The files do not match.
I understand that the Ethiopia IDs start from 201 (And not from 1 as in Kenya), but still - not all IDs match.
The Kenya IDs in the JSON file go up to 120, while in the CSV file they only go up to 109. This leaves a few divisions without an index, and thus without a color.

[2014-06-11 05:59] NofarGizra commented on #101
![nocolor](https://cloud.githubusercontent.com/assets/3273122/3240600/8653b17a-f12d-11e3-8c62-6bb84bc04b7b.png)

[2014-06-11 06:12] niryariv commented on #112
@bnedavies is there a better quality version of this pic? I'm concerned it won't look good on the homepage

[2014-06-11 06:18] NofarGizra commented on #101
Here are the files I'm using:

CSVs for Kenya (Only 108 indexes in each):
https://github.com/Gizra/IBLI-map/blob/1/src/ibli-map/csv/KENYA_indexesLRLD.csv
https://github.com/Gizra/IBLI-map/blob/1/src/ibli-map/csv/KENYA_indexesSRSD.csv

JSON for Kenya+Ethiopia (Kenya indexes go up to 120):
https://raw.githubusercontent.com/Gizra/IBLI-map/1/src/ibli-map/json/kenya-ethiopia.json

[2014-06-11 06:29] NofarGizra commented on #101
Also, please keep in mind that changes in **format** require development time to adjust to them, so try to avoid changes in names of things.
For example, in the new JSON file you provided (Kenya+Ethiopia) the word `DIV_ID` was changed to `IBLI_ID`, and the word `DIVISION` was changed to `DIVI_WOR`. These changes cause the whole map to stop working, and then we need to figure out what went wrong.
W

[2014-06-11 07:20] apurbashee commented on #101
@niryariv The division ids in new map (Kenya+Ethiopia) are different than previous map and hence they are different than the old .csv files. We will soon provide new Matlab and .csv files for Kenya. You already have the Ethiopian Matlab files via dropbox.

[2014-06-11 07:24] #65 closed, assigned to bnedavies

[2014-06-11 07:25] #109 closed, assigned to DavidKohav

[2014-06-11 11:07] niryariv commented on #101
okay, we'll hold on this until we get the new matlab/csv for Kenya.

[2014-06-11 11:08] #96 closed, assigned to DavidKohav

[2014-06-11 11:08] #94 closed, assigned to NofarGizra

[2014-06-11 11:13] #57 closed, assigned to DavidKohav

[2014-06-11 11:13] #63 closed, assigned to NofarGizra

[2014-06-11 11:13] #66 closed, assigned to DavidKohav

[2014-06-11 11:13] #84 closed, assigned to NofarGizra

[2014-06-11 11:13] #92 closed, assigned to NofarGizra

[2014-06-11 11:16] niryariv opened #125 "fixes to "what is ibli" page"
- [x] remove author, date
- [x] make image as wide as the text (unless resolution is too low - let me know)

![screen shot 2014-06-11 at 2 14 44 pm](https://cloud.githubusercontent.com/assets/1771/3243527/c4e95328-f159-11e3-9f96-e0e5b14be159.png)

[2014-06-11 11:17] niryariv commented on #61
@NofarGizra use Flickr - URL above ^

[2014-06-11 11:17] niryariv commented on #102
resolved to use flickr.

[2014-06-11 11:17] #102 closed, assigned to bnedavies

[2014-06-11 13:44] niryariv commented on #118
@NofarGizra is it possible to have MailChimp require phone as well as email on signup?

[2014-06-12 06:59] NofarGizra commented on #118
@niryariv
Yes.

[2014-06-12 08:10] mldk-tech commented on #125
Done

[2014-06-12 08:57] mldk-tech commented on #106
Done.

![logo](https://cloud.githubusercontent.com/assets/5812423/3255815/98e351aa-f20f-11e3-9cef-837852340c2d.png)

[2014-06-12 11:17] NofarGizra commented on #47
@niryariv
By "inner pages" you mean the node edit pages?

[2014-06-12 15:06] niryariv commented on #47
by "inner pages" I mean pages that are not the homepage, eg "What is IBLI" - generally anything with a content type Page.

[2014-06-13 13:29] bnedavies commented on #112
no sadly, there isn't.  how about this one?
![20140219_111539](https://cloud.githubusercontent.com/assets/6724026/3270327/a2df0448-f2fe-11e3-8570-97e27c46c4e8.jpg)

[2014-06-15 08:36] niryariv commented on #120
@bnedavies where do we get the past index data from?

[2014-06-15 08:46] niryariv commented on #112
@NofarGizra please pick the one you think looks best

[2014-06-15 09:22] niryariv commented on #119
@bnedavies is this the same data as in homepage, divided for areas, or different data?

[2014-06-15 09:33] niryariv opened #132 "add instructions on how to execute the IDL code on the server to the readme file"

[2014-06-15 11:16] mbrv commented on #132
@niryariv
How to run the shell ?
1. enter the server (41.204.190.27)
2. go to : "/opt/IBLI/dataProcessing/eMODIS_SHELL/"
3. type : idl -rt=emodisshell.sav -args "config_0905.txt">log.txt

the "config_0905.txt" is the config file and log.txt is the log file to which the output of the code will be written.
1. the code should run now.

[2014-06-15 13:39] #132 closed, assigned to mbrv

[2014-06-15 14:57] woodardjoshua commented on #120
It gets generated in the matlab code but as of now we don't have it output
to csv. I can revise the matlab code to write this, but let me know the
best way to organize/structure the output please...Currently the matlab
program will write to csv the following:

(1) current premium rates (N divs rows x 1 column) for each season,
 (2) current index value (N divs rows x 1 column) based on current inde

[2014-06-16 08:27] niryariv commented on #120
Sounds good to me.

While we're at it, is it possible to add a DIV_ID (or IBLI_ID if we're switching to that) column to all CSVs? Currently we're inflecting this value from the row number, which feels too error-prone (ie if a division is dropped from the output, or IDs change etc).

[2014-06-16 10:16] niryariv opened #133 "error opening file"
after running idl:

[code]

[2014-06-16 10:22] mbrv commented on #133
Ill check that

נשלח מה-iPhone שלי

ב-16 ביונ 2014, בשעה 13:16, "Nir Yariv" notifications@github.com כתב/ה:

[2014-06-16 16:48] woodardjoshua commented on #120
Sure I can do this. Will roll this out to you shortly. Do you need a column
label or no?

On Mon, Jun 16, 2014 at 4:27 AM, Nir Yariv notifications@github.com wrote:

##

---

Joshua D. Woodard, PhD
Assistant Professor of Agribusiness and Finance
Zaitz Family Sesquicentennial Faculty Fellow
David R. Atkinson Center for a Sustainable Future Faculty Fellow
Dyson School of Applied Economics and Manage

[2014-06-16 19:27] niryariv commented on #120
yes, column labels would be great. thanks.

[2014-06-18 09:47] niryariv opened #134 "Kenya matlab"
@apurbashee - in our call you mentioned there's new Matlab code for Kenya. What's the status? Is there any code/data you can send me?

[2014-06-18 12:31] mbrv opened #135 "Verify IDL results"
@niryariv
We want to make sure that the code on the server gives identical results to what was previously achived.

@vrieling  - i'm going to use the latest division you sent me on the 23th of April.

I'll start the run now and update once it's over.

[2014-06-18 12:55] vrieling commented on #135
@mbrv There was an update of divisions sent later. Let me retrieve it and send it to you by e-mail.

[2014-06-18 12:58] mbrv commented on #135
@vrieling  , thanks - can you please also sent the final CSV's you get ?

[2014-06-18 13:00] vrieling commented on #135
@mbrv These are on my ftp (see the e-mail that I just sent you, and that was sent to all on 15 May).

[2014-06-18 14:13] woodardjoshua commented on #134
It's done except one small edit needed for the csv outputs which I will do
today, will send later today hopefully.

Josh
On Jun 18, 2014 5:47 AM, "Nir Yariv" notifications@github.com wrote:

[2014-06-19 06:03] mbrv commented on #135
@niryariv

There are small bugs in changing the Division file and subset ( for some reason it says we go out of the limits of the Images downloaded from USGS when i try to cut the relevant region from it).

will fix them and update you ASAP.

[2014-06-19 06:22] mbrv commented on #135
@niryariv

found the bug , i simply typed the bounding box incorrectly in the config file.

Nir , Please notice that to run the code with the new subset we have to overwrite the entire RAW Folder. Do you want me to keep a backup of the current data (do we have space for that?) or should i just delete it and run the process to subset the new data from USGS ?

[2014-06-19 06:33] niryariv commented on #135
Just delete the old data if we need to rebuild it anyway

On Thursday, June 19, 2014, mbrv notifications@github.com wrote:

[2014-06-19 06:48] mbrv commented on #135
upadte : the process is now running (corrected mistyped error in the config file)
it should take a while because it's redownloading the entrie data set from USGS with the new subset.

once it's done i'll compare the CSV output to the CSV output Anton Got and update.
(you can follow log file : log_19_06.txt )

[2014-06-19 10:02] niryariv commented on #135
@mbrv no problem. is that working with the May 15th settings?

[2014-06-19 10:11] mbrv commented on #135
yes - the once that are on the FTP Anton sent (i talked about that with Anton as well).

[2014-06-19 13:21] bnedavies commented on #120
@niryariv I think Josh has answered this?  Just responding to the old post directed at me...

[2014-06-19 13:24] bnedavies commented on #119
@niryariv It is the same data, but just in a different format, as shown in the page design - Is this possible?  It would be good to have the ability to generate PDF documents for this on a specific date.  E.g. for the March payout, we take the final reading on February 28, and we'd want to PDF this and then distribute to our partners.

[2014-06-19 14:02] niryariv commented on #120
yep, this is assigned to Josh now.

[2014-06-19 14:08] niryariv commented on #119
we'll need GIS files for each of the divisions - @apurbashee do you have those?

[2014-06-19 15:02] woodardjoshua commented on #120
Yes, this is in process...Andrew and APurba and I are finalizing rates and
will deliver this all at once. As soon as we get there, we will let you
know and send.

Josh

On Thu, Jun 19, 2014 at 10:02 AM, Nir Yariv notifications@github.com
wrote:

##

---

Joshua D. Woodard, PhD
Assistant Professor of Agribusiness and Finance
Zaitz Family Sesquicentennial Faculty Fellow
David R. Atkinson Center for

[2014-06-23 09:55] mbrv opened #136 "Space Issues"
@niryariv  @alanorth

Regarding the space issue : we ran out of space in "/var" - currently i don't see any way (correct me if i'm wrong) to save space. what we have in this folder is :
1. RAW Folder - a folder which contains the data from USGS - this folder will grow each 6-7 days in ~ 14 mega.
2. PROCESSED - in this folder we have huge file which is basically a stacking of all the RAW data. this

[2014-06-23 14:52] alanorth commented on #136
Thanks for the analysis @mbrv.  Two points from my side.  First, it seems we have some misused space (`PRCOESSED`):

[code]

Second, how often does the USGS data change?  Maybe we could delete only on the first run of the month or so?  Otherwise, I have no problems to add 10 - 20 GB the machine.

[2014-06-23 14:55] mbrv commented on #136
Thank @alan !

you'r right!
I apologize but i  forgot and didn't notice that we still have the "PRCOESSED" folder which contains a disposable copy of the USGS storage.

i have deleted it and now it seems that the space issue is no longer an issue.

Thanks,
    Michael.

[2014-06-23 15:09] #136 closed, assigned to nobody

[2014-06-23 15:09] #133 closed, assigned to mbrv

[2014-06-25 13:57] mbrv commented on #135
@niryariv  @vrieling  Hi !
At last we have initial comparison results.

i ran the code using the "divisionID_K+E" division.

i'm not sure how to attach files here , so i'll send the new and original CSV via email.
@vierling you opinion will be greatly appriciated.

the two CSV files are not identical and it makes sence because they didn't run on exactly them same input ( the new run has 16 more pe

[2014-06-25 14:19] vrieling commented on #135
@mbrv Looks overall reasonable. What do you mean with the 16 more periods? Are these also used to create new diagnostics? The other diagnostics file could be an explanation. Did you try the diagnostics-file that I had put on ftp? Perhaps another point is whether the same basis is used for z-scoring, but probably that is done. At least good to see that they match quite closely! Still Please note th

[2014-06-25 14:28] mbrv commented on #135
@vrieling

Have a great Trip !

yes , the diagnostics file was recalculated using the extra samples.
i haven't tried the diagnostics file you put on the ftp.

i think that the important figure is 4 (cummulated aggregated zScore for a certain division) which is almost unmodified at all.

Again , Have a great Trip !

@niryariv  - you think that this comparison is enough to move on to the matlab part

[2014-06-25 14:31] vrieling commented on #135
@mbrv Would be excellent to see if with my diagnostics file the result is 100% identical. Indeed, I agree for figure 4, but this is of course one division. Note that during updates it is better not to change the diagnostics file, otherwise results are not backward-compatible. Anyway, it seems that it works overall as expected.

[2014-06-25 14:35] mbrv commented on #135
@vrieling . no problem , i'll set it to run this evening with your diagnostics file and see how it affects the final CSV files. thanks

[2014-06-30 09:23] niryariv opened #137 "use Anton's 11 year diagnostics file"
instead of recalculating the diagnostics file on each run use the fixed one.

(no need to recalculate deviations as well)

[2014-06-30 10:25] mbrv commented on #137
the code has been modified and is now running in a mode which calculated the std , diagnostics and mean values using 11 years.

will update once finishes the run.

[2014-06-30 11:28] #125 closed, assigned to DavidKohav

[2014-06-30 11:33] bnedavies opened #138 "Where is IBLI Offered? - Ethiopia"
@apurbashee can you send the map for Ethiopia?  Similar to the one you did for Kenya

[2014-06-30 11:34] niryariv commented on #113
1. Need to change "Index-Based Livestock Insurance Mifugo Maisha In Marsabit" to "Index-Based Livestock Insurance in Marsabit"
2. Make sure the word "in" is always lowercase in all 4 titles, instead of "In"

[2014-06-30 11:34] bnedavies opened #139 "Where is IBLI Offered - Kenya"
@niryariv emailing you the map.  Is this a workable format for the webplatform.  If not, we'll need to ask @apurbashee for his help.

[2014-06-30 12:01] bnedavies opened #140 "What is IBLI?"
Revise text -
1. 3rd paragraph - there is an extra "I" before "Based on..." - Please remove
2. Add 4th Paragraph -

"In Ethiopia, the index for IBLI is derived from vegetation imagery, which measures the level and density of pasture available to livestock. The index is called cumulative deviation of forage availability. It simply measures the forage condition over defined time period and for geogr

[2014-06-30 12:54] niryariv opened #141 "on IE, hovering over a division in the map sometimes leaves it empty after the cursor moves"

[2014-06-30 22:29] mbrv commented on #137
@niryariv  @vrieling

good news :
using the period Anton suggested for calculating the diagnostics ( instead as using the entire data available as was done before out talk) we indeed get completely identical results in the new run and the original results Anton presented. so i think it is safe to say that now the code is consistent .

for evidence i'm attaching the aggregated zScore of a random sa

[2014-07-01 12:00] bnedavies opened #142 ""Latest IBLI Updates" on Homepage"
Just show News feed - should be linked to blog - http://livestockinsurance.wordpress.com/

[2014-07-01 12:06] bnedavies opened #143 "Czndvi graphs"
@apurbashee @vrieling It was mentioned during Nir's presentation yesterday that we wanted to be able to generate the czndvi graphs on the webplatform.  Can you forward @niryariv what he needs to build this into the platform?

[2014-07-01 12:21] bnedavies opened #144 "Update DNS record for ibli.ilri.org"

[2014-07-01 12:45] bnedavies opened #145 "Historical Index Readings"
@apurbashee How far should we go back for historical index readings?  6 seasons?  Or further to 2005?

[2014-07-01 13:25] niryariv commented on #139
So we'll use this image for both Kenya & Ethiopia - @bnedavies, do you want to write some text for the page?

![](https://raw.githubusercontent.com/Gizra/IBLI/master/dataProcessing/mapfiles/Ken+Eth/divisions.png)

[2014-07-01 14:45] mbrv opened #146 "correct repository update"
Currently the code assumes that the updated data from USGS has to end with *m
Apparently this ending is just an indication for images that will be modified in the future due to backward filtering.

this assumption should be corrected and both files that have "m" in the end and files that dont have "m" in the end should be downloaded.

[2014-07-01 14:48] mbrv opened #147 "update schedueling"
currently the code runs only if we are on the days of the month at which we know the USGS storage is updated - as updated the local storage a month back.

this is fine as long as the code runs every day with no problems.

if for some reason the server or the code breaks for a period of over a month - we might see a gap in the data which is due to not updating for over a month.

we suggest to find

[2014-07-02 07:06] bnedavies commented on #139
Yes, you can use this map and we can combine the two pages into 1 page.  Will work on wording now and upload to google docs

[2014-07-02 07:34] #117 closed, assigned to DavidKohav

[2014-07-02 07:35] #110 closed, assigned to DavidKohav

[2014-07-02 07:59] bnedavies commented on #139
https://docs.google.com/drawings/d/12lXDhw787zqXniSr7nVDhTo8PvhiSiQkcR5u0sS6Qhc/edit?usp=sharing

[2014-07-02 08:02] alanorth opened #148 "Resize IBLI VM disk"
I talked with @niryariv yesterday and we agreed I'd add 30GB to the IBLI VM's disk image.  It'll take a few hours because I have to copy the current image somewhere with a newer `qemu-img` tool to do the resize.  I'll keep you posted.

[2014-07-02 08:06] niryariv commented on #148
thanks @alanorth!

[2014-07-02 08:12] niryariv commented on #139
@NofarGizra text in the link above^

[2014-07-02 08:35] vrieling commented on #143
Dear Bryn, Nir, Apurba,

Please find attached the most recent czndvi csv-file (this is the step before the temporal aggregation). The division-version is the one for Kenyan divisions and Ethiopian woredas. I also attach the kebele-version.

On another note, I understood that for Ethiopia we move now to 24 units (clustered kebeles). Potentially, we could add these directly to the Kenyan division, a

[2014-07-02 08:36] bnedavies opened #149 "Premium Table"
Please go over what is needed for webplatform to calculate premiums - past and current - with @niryariv

[2014-07-02 08:55] bnedavies opened #150 "Launch Date"
Final date to launch whatever is ready, hiding some information as necessary.  Nir to propose after assessing staff needs.

[2014-07-02 13:04] niryariv opened #151 "supply IBLI_UNIT map + CSV including Kenya & Ethiopia"
@vrieling @apurbashee
we need a shapefile of IBLI units - along with the corresponding CSV, containing the index data - which will be the final output from the data processing system

please make sure the output CSV have an "IBLI UNIT ID" column (which match the IDs in the shapefile) so we know with unit the index corresponds to

[2014-07-02 13:25] niryariv opened #152 "provide premium calculation matlab code"
note that the CSV should include an IBLI_UNIT column and a PREMIUM column

[2014-07-02 15:59] alanorth commented on #148
Wow, this is actually more of a process than I imagined.  I'm just going to leave the machine as it is, and if space is still an issue when we want to launch, I can do it then.

[2014-07-02 15:59] #148 closed, assigned to nobody

[2014-07-02 22:15] vrieling commented on #151
@niryariv @apurbashee
The shapefile that we used has been previously put on my ftp. It is called "KenyaEthiopia_IBLIunits_May2014.shp" and Apurba certainly has a copy. This file relates directly to the "division" results (CSV-files).

However, it seems wise to make an update now, if the clustering of the kebeles for Ethiopia is final. If so, we could probably put the clustered kebeles instead of t

[2014-07-03 11:43] bnedavies opened #153 "Streamline homepage"
1. Remove boxes immediately under map "sign-up for updates, publications, etc."
2. ~~Remove "Latest IBLI Updates" entirely - expand "welcome to IBLI and video" to fill space~~ Change tab order under Latest Updates

![screen shot 2014-07-03 at 3 28 20 pm](https://cloud.githubusercontent.com/assets/1771/3469391/0b260c54-02ae-11e4-90b1-deff5964d14b.png)

@alanorth any other streamlining/simplifying y

[2014-07-03 11:44] bnedavies opened #154 "IBLI On the Ground - Homepage"
Show short text under each photo.  No additional links/redirects

@niryariv to check if we possible to scroll over photo and see link to a video

[2014-07-03 11:46] alanorth commented on #153
I like the idea of streamlining -- less is more -- but we we have latest updates, we should probably put them there, eh?  I think that was going to be where the latest blog entries would be (do we still blog?).

[2014-07-03 11:47] alanorth commented on #153
Also, if we're streamlining, we might want to sync with ILRI branded colors.  There's a guide somewhere, but we should be using proper reds and stuff.

[2014-07-03 12:05] bnedavies opened #155 "Homepage - Top Menu"
Top Heading should read as follows:

IBLI -- What is IBLI? -- Get IBLI -- Information -- About Us
1. "What is IBLI?"  Should link to 1 page (use page already created for now, but will add more text: http://dev-ibli.gotpantheon.com/content/what-ibli )
2. "Get IBLI" links to 1 page (need to create: #168)
3. Under "Information":
   - [Blog](http://livestockinsurance.wordpress.com/)
   - ~~Final Index

[2014-07-03 12:19] bnedavies commented on #153
@alanorth Is this what you meant? http://cgspace.cgiar.org/bitstream/handle/10568/21794/ILRI_logo_usage.pdf?sequence=2

We can put back the latest updates and have a blog feed on the homepage.  The Blog is active and being updated as we speak

[2014-07-03 12:27] #140 closed, assigned to nobody

[2014-07-03 12:39] niryariv opened #156 "fix contact IBLI button in "What is IBLI" page"
In http://dev-ibli.gotpantheon.com/content/what-ibli link the bottom right "contact IBLI" button to http://dev-ibli.gotpantheon.com/contact-us

[2014-07-03 12:39] bnedavies opened #157 "Homepage Map - LEGEND"
![legend](https://cloud.githubusercontent.com/assets/6724026/3469639/aa54bbf6-02b1-11e4-8a68-bf851a533331.png)
1. Remove %s from Legend
2. Add wording next to colors as follows:

Green = Good Conditions
Yellow = Average Forage
Orange = Declining Forage
Red = Forage Scarcity
Black = Severe Drought (Payout)
1. Add title to Legend - Forage Scarcity Map
2. When scroll over an area of the map, by legen

[2014-07-03 12:42] alanorth commented on #153
@bnedavies Yeah, at least we could use #662222 for ILRI red, then some other.  Not sure what color we'd use for the second, lighter red tone though.  @niryariv maybe we could steal some colors from the ilri.org website?

For the blogs, I dunno.  Will we link to it somewhere else on the website?

[2014-07-03 13:43] niryariv opened #158 "provide names for index values"
extension of #26

[2014-07-03 13:45] niryariv opened #159 "provide index & premium CSVs"
with the 145 IBLI units, in the new format

[2014-07-03 14:10] niryariv opened #160 "Rate Calculator"
Each area has its own premium rate.

The user enters the data into a form with 4 fields: # of Camels, Cows, Goats & Sheep.

@bnedavies please fill in the rest..

[2014-07-03 17:52] niryariv opened #161 "Map popups"
when hovering or clicking on an area in the map, we'll show a popup with text in the following format:

**AREA NAME**
Premium Rate: **5.1%**
Next Sales Window: **Aug/Sept or Jan/Feb** (whichever is later)
Next Potential Payout: **October or March**
Insurer: [**Takaful or APA**]() (links to insurer website)

[Calculate your rate](https://github.com/Gizra/IBLI/issues/160)

[2014-07-04 07:06] bnedavies commented on #160
@apurbashee please share what Nir needs to have the webplatform calculate the premiums each season automatically.

Formula for rate calculation is as follows:

1 cow = 1 TLU = 25,000
1 camel = 1.4 TLU = 35,000
1 sheep or goat = 0.1 TLU - 2,500

(#cows \* 25,000 + #camels \* 35,000 + #sheep/goats*2500) \* Premium rate for division

[2014-07-04 07:15] bnedavies commented on #161
A few comments:

Next potential payout can be either March or October - needs to read off Sales window.  If sales window reads jan/feb - payout should read October.  If sales window reads aug/sept - payout should read march.

Insurer - APA is in Isiolo and Marsabit; Takaful is in Wajir, Isiolo, Mandera, and Garissa

For Isiolo - two options will need to be listed

Takaful website http://www.takafu

[2014-07-04 08:46] bnedavies commented on #157
We could also put this below the legend.  @niryariv what do you think?

![legend ethiopia](https://cloud.githubusercontent.com/assets/6724026/3479774/a211ec9c-0357-11e4-8ca3-5ac91053a9e2.png)

[2014-07-04 08:54] bnedavies commented on #151
@vrieling  I think we have figured out an interim solution, but as soon as you get back, please try to make time to do these changes.

[2014-07-04 09:42] bnedavies commented on #149
@apurbashee your help needed - what does Nir need to have webplatform automatically calculate premiums.  Please share with him

[2014-07-04 09:43] #108 closed, assigned to NofarGizra

[2014-07-04 09:45] bnedavies commented on #139
@niryariv Move this map to "What is IBLI?" page?

[2014-07-04 09:46] #138 closed, assigned to nobody

[2014-07-04 09:46] #121 closed, assigned to niryariv

[2014-07-04 09:53] bnedavies commented on #119
@niryariv  I changed the title to fit with our new headings.  On this tab, we just need to be able to generate and download PDFs of the _most recent_ final index reading (either Feb 28/29) or (Sept 30)
![final index map](https://cloud.githubusercontent.com/assets/6724026/3480456/04587822-0361-11e4-9998-ea70b41ead1e.png)

[2014-07-04 10:03] bnedavies commented on #149
@niryariv changed name to fit with new design

After we have what we need from @apurbashee please design something in this format, but suggestions are welcome if you have a better way to lay it out!
![premium table](https://cloud.githubusercontent.com/assets/6724026/3480557/6463171c-0362-11e4-9403-75ebea3c10c0.png)

[2014-07-04 10:04] #142 closed, assigned to nobody

[2014-07-04 10:05] bnedavies commented on #142
Addressed under #153

[2014-07-04 10:09] bnedavies commented on #120
@niryariv updated title to reflect new page listing.  Is it possible for page to show all past (final) index maps back to 2005?  Maybe the user can scroll over the same map from the homepage and a pop-up box could allow them to pick the Final Index Reading by year (2014, 2013, 2012, etc.) and by month (March or October).

![final index map](https://cloud.githubusercontent.com/assets/6724026/348058

[2014-07-04 10:18] #107 closed, assigned to NofarGizra

[2014-07-04 10:20] bnedavies commented on #113
Remove "Mifugo Maisha"  - Should just read "Index-Based Livestock Insurance In Marsabit"
![title change](https://cloud.githubusercontent.com/assets/6724026/3480700/cba2f86e-0364-11e4-9fae-2be979ff0f1d.png)

[2014-07-04 10:22] bnedavies commented on #83
closing...addressed in #153

[2014-07-04 10:22] #83 closed, assigned to bnedavies

[2014-07-04 10:23] #58 closed, assigned to niryariv

[2014-07-06 08:30] niryariv commented on #157
could definitely put it, but I would suggest trying to make it even more simple to understand - for example, does the number range really make a difference to the user?

[2014-07-06 08:50] niryariv commented on #139
definitely. i suggest we create a github issue + google doc for that page, with the new format

[2014-07-06 08:52] niryariv commented on #119
@bnedavies since this will require more work (separate area maps + probably some PDF design) i suggest we move this task to v1.1 - what do you think?

[2014-07-06 09:06] niryariv commented on #120
@bnedavies how about this: when a user hovers a unit in the homepage map, we'll have a box in the bottom left corner showing the past indexes for that area?

we could replace the current box which won't be needed since we have the popup on each unit:

![screen shot 2014-07-06 at 12 04 42 pm](https://cloud.githubusercontent.com/assets/1771/3488531/c6088fa2-04ec-11e4-8de9-2603455d1f9f.png)

[2014-07-06 09:07] niryariv commented on #113
aren't we changing these to testimonials instead?

[2014-07-06 09:11] niryariv commented on #161
@bnedavies how do we determine the sales window? just the nearest window to the current date, or is there any other information we should consider?

[2014-07-08 07:16] bnedavies commented on #119
@niryariv we can discuss but I think this needs to be in version 1.  I'm pretty sure everyone will say it's essential...

[2014-07-08 07:29] bnedavies commented on #161
@niryariv  - The nearest window, but in the future -  sales windows are January 1 to February 28/29 and August 1 to September 30th

[2014-07-08 07:38] bnedavies commented on #120
@niryariv that sounds good, but I think we will need one page dedicated to these maps as well, as we had planned originally.  These are how we build the community's trust in the product and communicate the payout status to donors, the insurer, etc.  We will also need to be able to download a PDF of the map as above...or some other ormat to record the readings and distribute to the community...

[2014-07-08 07:42] bnedavies commented on #113
@niryariv see #154 - We are keeping pictures but will add a blurb underneath as their "testimonial" - on one or two, we could possibly have a video clip available when a user scrolls over the picture.  You were going to see if this was possible?

[2014-07-08 07:43] bnedavies commented on #139
ok, I will work on the new page and format this week.  Going to Ethiopia tomorrow, but should have some time at night.

[2014-07-08 07:45] bnedavies commented on #157
The number range does matter for payout...It might have to be a compromise to use the legend with text, but include this as well for the insurers/academics using the website.

[2014-07-08 08:15] niryariv commented on #119
OK. I understand there will be 5 maps - Wajir, Mandera, Garissa, Isiolo & Marsabit? @apurbashee can you produce shapefiles for these maps (including the IBLI ID for each division inside the map)?

[2014-07-08 08:29] niryariv commented on #161
sure

[2014-07-08 08:30] #134 closed, assigned to apurbashee

[2014-07-08 08:33] niryariv commented on #119
@bnedavies perhaps we can combine this and #120 into a "Past & Current Indexes" page, which will contain the maps in downloadable format. What do you think?

[2014-07-08 09:24] bnedavies commented on #119
@niryariv yes, that's fine to combine them.  5 maps for version 1.  More in later versions.

[2014-07-08 13:15] niryariv commented on #150
It looks like we'll target 1st week of September - but do keep in mind I'd need the materials from IBLI (especially #159)

[2014-07-08 13:54] #106 closed, assigned to DavidKohav

[2014-07-08 13:55] #98 closed, assigned to DavidKohav

[2014-07-08 13:56] niryariv commented on #97
marked "done on dev" but no form on the page: http://dev-ibli.gotpantheon.com/contact-us

[2014-07-08 14:04] #74 closed, assigned to mbrv

[2014-07-08 14:05] niryariv commented on #73
@bnedavies we decided these will be linked from the blog instead, IIRC?

[2014-07-08 14:05] #72 closed, assigned to mbrv

[2014-07-08 14:05] #70 closed, assigned to NofarGizra

[2014-07-08 14:07] niryariv commented on #61
@bnedavies do we want to keep this on the site? perhaps would make sense to put this on a project facebook page?

[2014-07-08 14:07] #54 closed, assigned to mbrv

[2014-07-08 14:07] niryariv commented on #52
@mbrv done?

[2014-07-08 14:07] niryariv commented on #50
@mbrv looks like it's done except for the readme file: https://github.com/Gizra/IBLI/search?q=PROCCESSED&ref=cmdform - plz fix & close the ticket

[2014-07-08 14:20] #47 closed, assigned to NofarGizra

[2014-07-08 14:20] niryariv commented on #46
@mbrv - done?

[2014-07-08 14:21] #39 closed, assigned to mbrv

[2014-07-08 14:21] #36 closed, assigned to mbrv

[2014-07-08 14:21] #28 closed, assigned to nobody

[2014-07-08 14:21] #27 closed, assigned to nobody

[2014-07-08 14:21] #26 closed, assigned to apurbashee

[2014-07-08 14:22] #18 closed, assigned to alanorth

[2014-07-08 14:22] #17 closed, assigned to woodardjoshua

[2014-07-08 14:22] #6 closed, assigned to apurbashee

[2014-07-08 14:22] #5 closed, assigned to alanorth

[2014-07-09 06:22] bnedavies commented on #159
@apurbashee when will this be ready?  I think you were going to update the format of the output immediately, and then we need Anton to deliver the code?  Is that correct?

[2014-07-09 06:38] bnedavies commented on #150
@niryariv great.  Please just keep pushing us if we don't get you want you need from Apurba and Anton...

[2014-07-09 06:44] woodardjoshua commented on #150
Bryn,

Apurba and I are working out these final details and will deliver in due
time. Thanks for your concern.
On Jul 9, 2014 2:38 AM, "Bryn" notifications@github.com wrote:

[2014-07-09 06:46] bnedavies commented on #150
Great, thank you!

Bryn Davies  | Market and Capacity Development Manager| International Livestock Research Institute | ilri.orghttp://www.ilri.org/
P.O. Box 30709, Nairobi, Kenya  |  Tel: +254 20 422 3496  | Email:  b.davies@cgiar.orgmailto:b.davies@cgiar.org

IBLI ONLINE: http://livestockinsurance.wordpress.com/

ILRI ONLINE: Websitehttp://www.ilri.org/ | Newshttp://www.ilri.org/ilrinews | Repos

[2014-07-09 06:52] bnedavies commented on #73
@niryariv yes, the blog will have all reports and we've removed from the webplatform.  You can close this.

[2014-07-09 06:56] bnedavies commented on #157
@niryariv I still think we put the whole thing with text as well but perhaps on the right-hand side bottom?  It's important for payout and any insurers/academics using the site...

[2014-07-09 07:41] bnedavies commented on #61
@niryariv I kind of like the idea of listing it under "About Us" - Makes IBLI seem more real to see pictures of pastoralists buying IBLI.  Is it a lot of work to link the Gallery to the Flickr account?

[2014-07-09 09:29] #73 closed, assigned to bnedavies

[2014-07-12 16:38] niryariv opened #162 "verify new Matlab code runs on Linux"
@mbrv - we got new code from Josh's team, it's known to run on Windows, please verify it's running on our LInux server as well.

(make sure to git pull, the code is on https://github.com/Gizra/IBLI/tree/master/dataProcessing/IBLIMatlab )

[2014-07-13 09:04] niryariv commented on #157
no problem. could you provide this as an image file (PNG etc)?

[2014-07-18 10:42] bnedavies commented on #157
@apurbashee can you provide this in the format Nir needs?

[2014-07-21 12:17] niryariv opened #163 "New navigation bar links"
@bnedavies did you finalize the list of links on the new navbar?

[2014-07-21 12:31] niryariv opened #164 "missing IBLI unit IDs?"
@woodardjoshua @apurbashee
I noticed in the CSV there's a jump from Unit 53 to 60: https://github.com/Gizra/IBLI/blob/master/dataProcessing/IBLIMatlab/OutRate/30rateFinal.csv#L54

is this intentional?

[2014-07-21 13:02] apurbashee commented on #164
Nir, this is intentional. we had to do this to incorporate clustering in
Marsabit..
Apurba

On Mon, Jul 21, 2014 at 3:31 PM, Nir Yariv notifications@github.com wrote:

[2014-07-21 13:04] niryariv commented on #164
got it, closing

[2014-07-21 13:04] #164 closed, assigned to apurbashee

[2014-07-22 08:11] bnedavies commented on #163
@niryariv not sure I'm following you.  See #155.  Is this what you need?  On Skype this AM too...

[2014-07-22 10:42] niryariv commented on #163
right, sorry about the confusion

[2014-07-22 10:42] #163 closed, assigned to bnedavies

[2014-07-24 12:39] #13 closed, assigned to vrieling

[2014-07-24 12:39] #46 closed, assigned to niryariv

[2014-07-24 12:43] #50 closed, assigned to mbrv

[2014-07-24 12:50] alanorth commented on #144
I assume we're getting ready for launch soon, yes?  I've just requested that the DNS be created to point to the correct server.  I'll keep you posted...

@niryariv In other news, do you think we'll be using HTTPS?  I think it's a good idea to use wherever possible, so I'll provision to open the ports for that...

[2014-07-24 20:18] alanorth commented on #144
DNS done.  We'll handle HTTPS separately.

[2014-07-24 20:18] #144 closed, assigned to alanorth

[2014-07-25 13:00] vrieling commented on #151
@bnedavies @niryariv I have created a new shapefile that I have put on my ftp. I just sent it by e-mail as well. Let me know if you have questions.

[2014-07-27 12:48] niryariv commented on #151
Thanks, I put the shapefiles here: https://github.com/Gizra/IBLI/tree/master/dataProcessing/shapefiles (you can see the actual map [here](https://github.com/Gizra/IBLI/blob/master/dataProcessing/shapefiles/IBLIunits/KenyaEthiopia_IBLIunits_July2014.topojson))

Still have a question regarding the CSV, for either @vrieling or @apurbashee: I understand we need to use [this file](https://github.com/Gi

[2014-07-27 13:33] niryariv commented on #144
@alanorth imho HTTPS not a huge deal in this project, since there's no user-specific content (ie no login) - outside of admin. assuming admin is being done at IBLI, it's your call based on security risks there.

[2014-07-28 13:41] niryariv commented on #157
@apurbashee any updates?

[2014-07-28 13:42] niryariv commented on #113
@bnedavies do you have blurbs / videos?

[2014-07-28 16:31] apurbashee commented on #157
Bryn and Nir,
I think you are looking for image (e.g. PNG) file for the above legend not
for the color maps. In GIS when I do the color map there is option of
saving the map as PNG format. BUT the legend was done in power point, I am
not sure how to get a PNG form from there.
Apurba

On Mon, Jul 28, 2014 at 4:41 PM, Nir Yariv notifications@github.com wrote:

[2014-07-28 20:10] vrieling commented on #151
@niryariv @bnedavies @apurbashee
For that file it relates to Bryn's earlier request (#143):
"@apurbashee @vrieling It was mentioned during Nir's presentation yesterday that we wanted to be able to generate the czndvi graphs on the webplatform. Can you forward @niryariv what he needs to build this into the platform?"

It is the intermediate data that shows the development of the index, or rather of

[2014-07-29 07:40] apurbashee commented on #151
Hi Nir,
Among the CSVs our focus will be on CZNDVIs which are cumulation for LRLD
and SRSD. The CZNDVI values are actually our index. We will do two things
with this index;
1) The time series seasonal CZNDVIs will be used as input in the Matlab
where we will get the premiums and payouts as outputs
2) We have to generate color index maps on the web platform using these
CZNDVI indexes. To generate t

[2014-07-29 08:06] niryariv commented on #151
@apurbashee let me try to create a "for dummies" version of this (math is hard!):
1. I should use this file to calculate the percentiles: https://github.com/Gizra/IBLI/blob/master/dataProcessing/zscore_results/eMODIS/zCumNDVI_aggregated_eMODIS_ibli.csv
2. Then get the values from the latest dekade on this file: https://github.com/Gizra/IBLI/blob/master/dataProcessing/zscore_results/eMODIS/zNDVI_ag

[2014-07-29 08:17] vrieling commented on #151
@niryariv @apurbashee @mbrv
I think that there is some confusion here. Also the zCumNDVI is updated at every step (using CUMULATE_Z_PER_DIVISION). Only in that case, we need to update the number of time periods that are available for the current season: I do that manually for each update, so perhaps this still needs to be implemented in the automatic chain? In any case, the zCumNDVI is the file th

[2014-07-29 09:11] niryariv commented on #151
OK, so zNDVI is for the temporal graphs, zCumNDVI for the map.

But I notice zCumNDVI only lists values until 2013?

[2014-07-29 10:06] vrieling commented on #151
That is where the updating comes in. Manually I adapt this in CUMULATE_Z_PER_DIVISION by changing the "nPeriodsLong" or "nPeriodsShort" to the amount of periods that we have available. If I leave them at the full-season values (21 and 15 respectively), the cumulation is only done for seasons that are fully finalized (this explains that 2013S is now the latest). The within-season updates are basica

[2014-07-29 12:27] niryariv commented on #151
Got it. @mbrv is online only sporadically these days, will reply when possible.

Regarding the percentiles calculation, I understand we should use the data in zCumNDVI. Should we use all the data, or one row at a time? When data is updated, do we recalculate? Do we use long/short season together or separately?

@apurbashee - do you want to separate the index calculation into its own script, consid

[2014-07-29 15:35] Moo64c commented on #156
@niryariv This is content, so it can be edited later when the site goes live (and changed in the migration file - `ibli_migrate/html/what-is-ibli.html`.

Leaving this open for now.

[2014-07-29 15:53] Moo64c commented on #97
@niryariv I see the form (almost the same with some CSS changes) on local in the master branch.
I can't check dev to see if it's there or not (don't have the password).
Notice it uses the site-wide contact form so it probably sends the contact us emails to the admin account email.

[2014-07-30 08:07] niryariv commented on #97
@Moo64c sent u dev pass

[2014-07-30 08:13] niryariv opened #167 "narrower map"
the map takes all the page width now, which makes it hard to scroll down on smaller screens. let's make it as wide as the content instead:

![screen shot 2014-07-30 at 11 08 15 am](https://cloud.githubusercontent.com/assets/1771/3746569/471d5564-17c1-11e4-8c24-c8be1b64f1a2.png)

[2014-07-30 09:44] niryariv commented on #101
will be handled with the new map files

[2014-07-30 09:44] #101 closed, assigned to apurbashee

[2014-07-30 11:15] niryariv opened #168 "create Get IBLI page"
@bnedavies do you have content for this page?

[2014-07-30 11:18] niryariv opened #169 "setup IBLI Flickr page"

[2014-07-30 11:20] niryariv opened #170 "create Partners page"
@bnedavies do we have content for this?

[2014-07-30 11:21] niryariv opened #171 "create Team page"
@bnedavies do we have content?

[2014-07-30 11:32] Moo64c commented on #97
@niryariv it seems the dev site isn't updated to the latest commit in the master branch.
I need access from pantheon's dashboard to update it, or you/Amitai/Brice could do it.

[2014-07-30 12:33] #159 closed, assigned to apurbashee

[2014-07-30 12:34] bnedavies commented on #169
https://www.flickr.com/photos/125283442@N04/

iblikenya on flickr

See #61 or let me know if anything else is needed.

[2014-07-30 12:37] niryariv commented on #169
thanks! closing

[2014-07-30 12:37] #169 closed, assigned to bnedavies

[2014-07-30 12:40] bnedavies commented on #170
@niryariv please just insert our logo + partners logo that were originally on homepage.  A few to be added.  What is the best way to send these to you?  Or can you grab from their websites?

THESE YOU HAVE ALREADY:
ILRI
Takaful
AusAID
DfiD
EU
MercyCorps

TO BE ADDED:
APA
World Vision
Kenya Markets Trust

[2014-07-30 12:50] bnedavies commented on #171
@niryariv Can we move this to Version 1.1?  After some reflection, I think a group photo would be best with our partners, which we will have to get at a later point.

[2014-07-30 12:53] niryariv opened #172 "update divisions csv"
@apurbashee it seems like we need to update the data in the [divisions file](https://github.com/Gizra/IBLI/blob/master/dataProcessing/data/divisions_id.csv) to include the new units - correct?

[2014-07-30 12:53] niryariv commented on #171
no problem, moved to v1.1

[2014-07-30 13:00] bnedavies commented on #168
@niryariv use these details for Get IBLI Page for now.

![get ibli contact info](https://cloud.githubusercontent.com/assets/6724026/3749201/3eded0e4-17e9-11e4-8b39-d31207e1745a.png)

[2014-07-30 13:01] bnedavies commented on #157
@apurbashee Can you email the powerpoint version?

[2014-07-31 08:31] niryariv commented on #168
@bnedavies could you send the APA logo? I think we only have Takaful

[2014-07-31 13:42] niryariv commented on #149
from call w/ @apurbashee:
- use the 15 rate final premium: https://github.com/Gizra/IBLI/blob/master/dataProcessing/IBLIMatlab/OutRate/15rateFinal.csv
- premium rates update every season change (SRSD -> LRLD). we need to execute matlab every season change to process with the new data.
- past premiums: @apurbashee will create a csv with all the past premiums, we'll archive new premiums as they are

[2014-07-31 14:51] niryariv opened #173 "Provide past premiums CSV"
per our call, a CSV with the past premiums for each division so we use it in the premiums table on #149

[2014-07-31 14:57] niryariv opened #174 "provide index CSV"
currently with placeholder numbers, just so we have the format and can write the code to render it on the map

[2014-07-31 14:58] niryariv opened #175 "provide final matlab code"

[2014-08-03 09:36] niryariv commented on #172
new file at https://github.com/Gizra/IBLI/blob/master/dataProcessing/IBLI_units.csv

[2014-08-03 09:36] #172 closed, assigned to apurbashee

[2014-08-03 13:55] #61 closed, assigned to DavidKohav

[2014-08-04 07:51] bnedavies commented on #168
Just emailed you this

[2014-08-04 09:27] niryariv commented on #168
![screen shot 2014-08-04 at 12 31 23 pm](https://cloud.githubusercontent.com/assets/1771/3795339/36b4e4f6-1bba-11e4-93fb-b8fd03ec238a.png)

[2014-08-05 10:17] #167 closed, assigned to Moo64c

[2014-08-05 10:39] #153 closed, assigned to Moo64c

[2014-08-05 14:47] Moo64c commented on #156
@niryariv Fixed by Brice
Was a menu system problem
![selection_004](https://cloud.githubusercontent.com/assets/2690042/3812998/7ca8b2e4-1caf-11e4-9db9-2ba01dbd7c1c.png)

[2014-08-05 14:57] niryariv commented on #156
still seeing the old page with no form on dev..

![screen shot 2014-08-05 at 5 57 12 pm](https://cloud.githubusercontent.com/assets/1771/3813164/df3042c8-1cb0-11e4-8983-6cfae145c6ab.png)

[2014-08-05 15:16] Moo64c commented on #156
Fixed again, a permission issue (was logged in as admin)
BTW Brice confirmed drush is problematic with the site.
http://dev-ibli.gotpantheon.com/contact-us

[2014-08-05 15:17] niryariv commented on #156
fixed now, closing.

[2014-08-05 15:17] #156 closed, assigned to Moo64c

[2014-08-07 14:50] niryariv commented on #175
@apurbashee how is this going? any ETA for the new code?

[2014-08-07 14:53] woodardjoshua commented on #175
I believe I sent everything that Apurba needed a few weeks back, but let me
know if there is something else that is needed.

On Thu, Aug 7, 2014 at 10:50 AM, Nir Yariv notifications@github.com wrote:

##

---

Joshua D. Woodard, PhD
Assistant Professor of Agribusiness and Finance
Zaitz Family Sesquicentennial Faculty Fellow
David R. Atkinson Center for a Sustainable Future Faculty Fellow
Dyson Sch

[2014-08-08 06:28] apurbashee commented on #175
Hi Nir,
I have just sent you the updated matlab folder and premiums with email
attachments.
Thanks
Apurba

On Thu, Aug 7, 2014 at 5:50 PM, Nir Yariv notifications@github.com wrote:

[2014-08-12 09:31] #173 closed, assigned to apurbashee

[2014-08-13 08:13] bnedavies commented on #113
@niryariv What is the best way to share these videos?  youtube links?

[2014-08-13 08:15] niryariv commented on #113
Yes, that could work.

On Wed, Aug 13, 2014 at 11:13 AM, Bryn notifications@github.com wrote:

[2014-08-13 08:31] bnedavies commented on #113
First video - IBLT in Wajir - https://www.youtube.com/watch?v=Cusa9tTuO2k&feature=youtu.be

IBLI in Marsabit - https://www.youtube.com/watch?v=1-w7iht20nw&feature=youtu.be

IBLI Borana - No video yet

IBLI in Isiolo - http://youtu.be/8v26L8rzguc

[2014-08-14 11:11] #112 closed, assigned to Moo64c

[2014-08-14 11:11] #97 closed, assigned to Moo64c

[2014-08-24 09:14] niryariv commented on #151
@vrieling do we need to implement the 2014 data for calculating the percentiles, or can we just use seasons where we have the full data (ie up to 2013)?

[2014-08-24 09:45] apurbashee commented on #151
Hi Nir,
When we are to provide index update for present ongoing season in 2014 we
have to implement 2014 data for calculating the percentiles, and then
determine color for that season according to the color scheme.
Apurba

On Sun, Aug 24, 2014 at 12:14 PM, Nir Yariv notifications@github.com
wrote:

[2014-08-24 09:54] niryariv commented on #151
OK. @mbrv - in order not to delay, please do the percentiles CSV first (so we'll have a sample to work with) and then work on integrating all the historical data.

[2014-08-24 09:55] niryariv opened #177 "Create percentile based CSV"
in steps of 15 points.

[2014-08-24 14:53] niryariv opened #178 "switch to new topojson file with all units"
https://github.com/Gizra/IBLI/blob/master/dataProcessing/shapefiles/IBLIunits/KenyaEthiopia_IBLIunits_July2014.topojson

[2014-08-24 14:58] niryariv commented on #178
color indexes: https://github.com/Gizra/IBLI/issues/151#issuecomment-50445045

[2014-08-27 08:25] bitamar commented on #161
**Moyale** doesn't have an insurer defined above.

[2014-08-27 08:41] alanorth opened #180 "Technical checklist for go-live"
Checklist for go-live by August 31st:
- [x] update external DNS for ibli.ilri.org
- [x] update internal DNS ibli.ilri.org
- [ ] update firewall settings on web server (public TCP 80, etc)
- [ ] create account / database on central MySQL server (for reference, DNS name: boran.ilri.cgiar.org)

@niryariv I'm just brainstorming a list of things I need to do with the host for going live.

[2014-08-27 08:54] niryariv commented on #161
@bitamar no insurer for Moyale yet, just display "TBD" instead of insurer name

[2014-08-27 08:55] niryariv commented on #180
@alanorth didn't understand the last one - is that on ILRI's MySQL?

[2014-08-27 08:57] alanorth commented on #180
@niryariv Yeah, sorry... we usually use a central MySQL server instead of installing MySQL on all the different machines.  Just makes it easier to maintain / backup / update.  Have you guys already loaded MySQL on the server?

[2014-08-27 09:10] niryariv commented on #180
haven't installed yet, since currently only the IDL/Matlab code is on the server while the site is being developed on an external machine. Shouldn't be a big deal, assuming the DB location would be transparent to the PHP side.

[2014-08-27 09:13] alanorth commented on #180
@niryariv exactly.  And you can already pencil in a DB server DNS name.  Assuming we'll use something like "ibli_blah" for username and database name as well.  I can create this on a moment's notice when we're ready.

[2014-08-28 06:57] alanorth commented on #180
Ok, the internal ILRI DNS is updated.  This is important, because users inside the ILRI campus use a different DNS server than external users!

[2014-08-31 10:17] #177 closed, assigned to mbrv

[2014-08-31 10:19] niryariv opened #182 "use new index for the map / historical maps"
CSV file is [here](https://github.com/Gizra/IBLI/blob/master/dataProcessing/zCumNDVI_Percentile.csv)

Note that these are %15 percent increments, so 1 means <15%, 2 is 15-30% etc (@mbrv - please correct me if I'm wrong)

[2014-08-31 11:43] bitamar opened #184 "Create a process to store data files locally"
Currently the premium table page loads its csv directly from github. We need to have a cronned process for storing the csv file inside the drupal installation

[2014-08-31 11:55] niryariv opened #185 "fixes for percentile index"
relates to [this file](https://github.com/Gizra/IBLI/blob/master/dataProcessing/zCumNDVI_Percentile.csv):
- [ ] rename adminID to IBLI_UNIT_ID
- [ ] remove pixels column
- [ ] use integers in all columns

[2014-08-31 14:08] niryariv opened #187 "implement historical index maps"
- [x] move the zoom control to the bottom right corner of the map
- [x] add a select box in the top right corners of previous seasons, using data from the [CSV](https://github.com/Gizra/IBLI/blob/master/dataProcessing/zCumNDVI_Percentile.csv)

![screen shot 2014-08-31 at 5 04 19 pm](https://cloud.githubusercontent.com/assets/1771/4102096/4f0c9f3a-3118-11e4-99ac-56fbcf4ca1fd.png)

[2014-08-31 14:44] #184 closed, assigned to bitamar

[2014-08-31 14:55] #149 closed, assigned to apurbashee

[2014-09-01 11:40] bitamar commented on #187
https://github.com/Gizra/IBLI/pull/188
https://github.com/Gizra/IBLI-map/pull/6
Merged

[2014-09-01 11:41] #182 closed, assigned to bitamar

[2014-09-01 14:13] niryariv commented on #155
reopening..

[2014-09-01 14:15] niryariv commented on #187
- [ ] fix to work on FF (and IE etc)
- [x] order select box options from most recent season downwards
- [x] replace "2014S" with "2014, Short season" etc
- [x] remove current index legend (we'll replace with [new legend](https://github.com/Gizra/IBLI/issues/157#issuecomment-48021313) later on):

![screen shot 2014-09-02 at 8 39 57 am](https://cloud.githubusercontent.com/assets/1771/4114239/ecb7c23

[2014-09-01 14:22] bitamar commented on #155
Fixed on dev

[2014-09-01 14:22] #155 closed, assigned to bitamar

[2014-09-02 06:08] bitamar commented on #161
@nader77 - The map borders need to be large enough to include the popups, also when zoomed in

[2014-09-02 07:14] bitamar commented on #187
@nader77 - Notice the select does work on ff when using the keyboard. The problem seems to be that after clicking the select, the focus is hijacked by the map.

[2014-09-02 07:15] bitamar commented on #187
@nader77 - Please continue this on https://github.com/Gizra/IBLI-map/pull/7

[2014-09-02 07:54] bitamar opened #191 "Switch to new geojson"
https://github.com/Gizra/IBLI/blob/master/dataProcessing/shapefiles/IBLIunits/KenyaEthiopia_IBLIunits_July2014.geojson

[2014-09-02 12:24] #191 closed, assigned to nedSaf

[2014-09-02 12:31] nedSaf opened #193 "Name of country in marker."
Should i add the name of the country in the popup marker ?
![ibli](https://cloud.githubusercontent.com/assets/7369740/4118141/06225a54-329d-11e4-8ab3-4639036160a9.png)

[2014-09-02 12:34] niryariv commented on #193
no need for now

[2014-09-02 12:34] #193 closed, assigned to niryariv

[2014-09-02 12:47] nedSaf commented on #161
Fixed on PR [#8](https://github.com/Gizra/IBLI-map/pull/8)

[2014-09-02 12:47] #161 closed, assigned to nedSaf

[2014-09-02 13:02] niryariv opened #194 "implement correct legend colors"
use this for reference:

![](https://cloud.githubusercontent.com/assets/6724026/3479774/a211ec9c-0357-11e4-8ca3-5ac91053a9e2.png)

note the index numbers we have are in %15 steps. so index of 1 ==> 0-15, 2 ==> 16-30 etc

[2014-09-02 13:15] niryariv commented on #194
@nader77 obviously the last step (>65) doesn't really correspond to our %15 partition, so for now we'll assume it's 60 - ie index >=5

[2014-09-03 06:04] niryariv opened #195 "where there's no known insurer, display TBD"
![screen shot 2014-09-03 at 9 02 58 am](https://cloud.githubusercontent.com/assets/1771/4130073/36140bc0-3330-11e4-9c9b-81963c346820.png)

[2014-09-03 06:07] niryariv opened #196 "add premium rates to the unit popup"
take the values from here (always the 15rate column): https://github.com/Gizra/IBLI/blob/master/dataProcessing/IBLI_unit_premium_rates.csv

[2014-09-03 06:10] niryariv commented on #196
show this under the area name, eg:

**AREA NAME**
Premium Rate: **5.1%**

(to calculate the rate, multiply the value under rate15 *100. note that not all history maps will have rates, since the insurance only exists for a couple of years)

[2014-09-03 06:51] niryariv opened #197 "changes to premiums table UI"
- [x] cancel the animation
- [x] allow opening more than one year at a time: when a user opens a new year, don't close the one that's already open. allow the user to close an open year by clicking on the title

[2014-09-03 07:01] #194 closed, assigned to nedSaf

[2014-09-03 07:04] niryariv commented on #170
@nader77 note this is linked from the top menu (under About Us > Partners). Create as a place holder for now with the logos we have the current site in the "Partners" tab under "Latest IBLI updates":

![screen shot 2014-09-03 at 10 03 56 am](https://cloud.githubusercontent.com/assets/1771/4130499/8c4b5cca-3338-11e4-90a6-dee97c585f77.png)

[2014-09-03 09:23] nedSaf commented on #196
@niryariv I have more than 1 column of `15rate`, Should i take all of them and calculate the average or what ?

[2014-09-03 09:28] niryariv commented on #196
Match each one to the correct year/season

On Wednesday, September 3, 2014, Nader Safadi notifications@github.com
wrote:

[2014-09-03 13:00] niryariv commented on #197
also:
- [x] show IBLI unit and DIV_WOR data
- [x] change all values to % ( x 100, round to 2 decimal points: 0.046893 -> %4.69 )

[2014-09-03 13:04] niryariv opened #199 "Past Index Maps"
this page includes the map as in the HP, but with the ability to download the map as PDF.

look at [leaflet-image](https://www.mapbox.com/mapbox.js/example/v1.0.0/leaflet-image/) as a solution for exporting the map into the PDF

[2014-09-07 05:44] niryariv opened #202 "show only latest data on homepage"
1. notice the percentiles file now uses IBLI_UNIT_ID column name instead of ADMIN_ID
2. also, the file now shows the latest season info
- [x] in HP, show only the latest season info (ie, whatever is the last column - currently 2014L)
- [x] move the top right select box to the map at the Past Index Maps page (#199)

[2014-09-07 05:48] niryariv commented on #185
Thanks Michael!

Is this now running automatically on the server? how often?

btw I notice data is still in floating point (ie 1.0000) - can we switch to integers?

[2014-09-07 07:40] niryariv opened #203 "Kenya Seasons"
[code]

[2014-09-07 07:52] nedSaf opened #204 "Merged issues to be checked on Dev."
#195
#196
#197
#170

[2014-09-07 08:26] niryariv commented on #195
works

[2014-09-07 08:26] #195 closed, assigned to niryariv

[2014-09-07 08:26] niryariv commented on #196
fixed

[2014-09-07 08:26] #196 closed, assigned to nedSaf

[2014-09-07 09:16] niryariv commented on #170
- [x] add ILRI logo

![](http://ilri-comms.wikispaces.com/file/view/ILRI%20logo.png/356665200/ILRI%20logo.png)

[2014-09-07 09:44] niryariv commented on #204
all close

[2014-09-07 09:44] #204 closed, assigned to niryariv

[2014-09-07 09:45] niryariv commented on #197
remove DIVI_WOR column, rename IBLI_UNIT to UNIT

[2014-09-08 11:14] bnedavies commented on #187
@niryariv when will legend be added?  Please let me know if you are waiting on something from us?

[2014-09-08 11:15] niryariv commented on #197
cancelled, see below
~~from @bnedavies: Please only show 15rate. All others can be removed. Please change "15rate" to "Premium Rate"~~

~~In this case we can probably just have all years open, no need for the show/hide system.~~

[2014-09-08 11:18] niryariv commented on #187
@bnedavies we have [this](https://github.com/Gizra/IBLI/issues/157#issuecomment-48021313) which we can't really use as-is, we'll either reimplement in HTML or redesign the image.

[2014-09-08 11:23] bnedavies commented on #202
@niryariv for the map with pop-up boxes on homepage:
1. It needs to show IBLI Unit boundaries - it's showing 2 North Horrs at moment.
2. For Pop-up boxes, please add items as follows:

NORTH HORR
Current Premium Rate: 8.15%
Next Sales Window:
Aug/Sept 2014 (NEED YEAR BUT WILL THIS AUTO UPDATE FROM SEASON TO SEASON?)
Next Potential Payout:
March 2015 (NEED YEAR BUT WILL THIS AUTO UPDATE FROM SEASON

[2014-09-08 11:25] bnedavies commented on #157
@apurbashee we need this legend in another format - can you please create?

[2014-09-08 11:26] bnedavies commented on #202
@niryariv can we also make the map on the home page bigger?

[2014-09-08 11:36] niryariv commented on #202
@nader77:
- [x] verify the unit name is read from the IBLI_UNIT column, not the DIVI_WOR one (that's the reason we have 2 North Horrs
- [x] add year to the sales window/potential payout dates

@bnedavies yep, this will update automatically from season to season)

[2014-09-08 12:43] bnedavies commented on #197
@niryariv We've changed our minds - Apologies!!  Please keep all rates but we need to change the names of the headings.

Premium rate @ 10% trigger/ CURRENT PREMIUM rate @ 15% trigger/premium rate @ 20% trigger, etc etc.

[2014-09-08 12:45] apurbashee commented on #157
I am attaching a powerpoint (this is index announcement March 2014).. see
if you can use the legend from there.
Apurba

On Mon, Sep 8, 2014 at 2:25 PM, Bryn notifications@github.com wrote:

[2014-09-08 12:49] apurbashee commented on #197
Sorry about this. Although at present only 15 % trigger  contracts are
operational, we would like to provide flexibility on the web. Thanks Bryn
for correcting.
Apurba

On Mon, Sep 8, 2014 at 3:43 PM, Bryn notifications@github.com wrote:

[2014-09-08 13:00] niryariv commented on #197
OK, but this text won't fit the column :) Perhaps we could just give the 15% column a different background color to make it stand out?

@apurbashee, while we're on this - what's the meaning of the trigger? Does it relate to the index, eg 20th percentile?

[2014-09-08 13:02] niryariv commented on #157
@apurbashee didn't get an attachment - it's ok, we'll have a designer fix this.

[2014-09-08 13:09] apurbashee commented on #197
Yes. 15% trigger means when the index falls below 15 percentile the
contract would payout..

On Mon, Sep 8, 2014 at 4:00 PM, Nir Yariv notifications@github.com wrote:

[2014-09-09 09:07] niryariv opened #206 "add legend to the map"
[PSD here](https://drive.google.com/file/d/0B7Lzf69iarhdUFJZckdzQ0F4ZkU/edit?usp=sharing). Please add on HP and historical maps. The legend should display in the bottom right corner, like so:

![map](https://cloud.githubusercontent.com/assets/1771/4199016/b145ca2a-3800-11e4-8723-efb5e159ea5e.jpg)

[2014-09-09 09:07] niryariv commented on #157
closing for #206

[2014-09-09 09:07] #157 closed, assigned to apurbashee

[2014-09-09 11:51] nedSaf commented on #202
I added the year and the unit name is from "IBLI_UNIT",
one question, The year to the window/potential payout dates should be the year of the period that is selected from the list  (In past index map, of course) ?

Screenshot of the popup now:
![selection_022](https://cloud.githubusercontent.com/assets/7369740/4200931/b2401f40-3817-11e4-8981-c5c264ca1f61.png)

[2014-09-09 11:53] niryariv commented on #202
good point. in the past index maps, dont show the payout / sales window / insurer information.

[2014-09-09 12:13] nedSaf commented on #202
Like this ?
The latest season:
![selection_024](https://cloud.githubusercontent.com/assets/7369740/4201128/8bcf6020-381a-11e4-98fc-0cc572b9d335.png)

Past season:
![selection_025](https://cloud.githubusercontent.com/assets/7369740/4201135/a4fd8dd8-381a-11e4-98eb-85c5389974a4.png)

[2014-09-09 12:15] nedSaf commented on #197
@niryariv So what should i do here ?

[2014-09-09 12:19] niryariv commented on #197
- [x] return to the previous format (showing all rates)
- [x] give the 15 rate a light yellow bg
- [x] change "%x rate" to "%x trigger"

[2014-09-09 12:19] niryariv commented on #202
yes

[2014-09-09 13:13] #199 closed, assigned to nedSaf

[2014-09-09 13:15] nedSaf commented on #170
@niryariv Done on PR #205

[2014-09-09 13:41] niryariv opened #207 "fix index maps select box in FF"
in the past index maps page, the season select box doesn't work on Firefox (OS X)

[2014-09-09 13:44] niryariv opened #208 "additions to downloaded PDF"
- [x] add a title: Vegetation Index Map - {{year}}, {{season}}
- [x] below the title, add some margin and then the map.
- [x] add 20px margin all around the map

[2014-09-10 07:41] #208 closed, assigned to nedSaf

[2014-09-10 08:18] niryariv opened #211 "text for the "Contact Us" page"
@bnedavies could you give us some text for this paragraph?

![screen shot 2014-09-10 at 11 09 41 am](https://cloud.githubusercontent.com/assets/1771/4214416/f46dbcaa-38c2-11e4-83cf-050d08535f32.png)

[2014-09-10 08:41] bnedavies commented on #202
@niryariv @nader77 there is an error.  "next potential payout" should read "March 2015.

Also, can we revise/add a few things?
1. Instead of "Next Potential Payout" change to "Next Potential Payout for NEW purchasers" = March 2015
2.  Add line after "Next Potential Payout for current policyholders" = October 2014

[2014-09-10 08:44] bnedavies commented on #206
@apurbashee should we add some simpler wording - black = payout, green = good conditions, no payout?

[2014-09-10 10:57] niryariv commented on #202
@nader77 - please verify the next date is always in the future :)

@bnedavies - the new text format seems a bit long to fit in the popup, and since it's the same text for all areas, perhaps we should move out of the popups, eg to a text box on the top right corner of the map?

[2014-09-10 12:16] bnedavies commented on #211
IBLI Project Manager
International Livestock Research Institute (ILRI)
P.O. Box 30709 – 00100, Nairobi – Kenya
Tel: +254-20-422 3000 (SwitchBoard) / 3043 (Direct)
Fax: +254-20-422 3001

MAP: https://www.google.com/maps/@-1.27137,36.725557,1605m/data=!3m1!1e3?hl=en

[2014-09-10 13:05] niryariv opened #214 "move map legend to bottom left corner of the map"

[2014-09-10 13:18] niryariv commented on #202
- [ ] verify the next date is always in the future
- [ ] on the top right corner, add a box (same bg color / opacity as the legend box) with the text:

**Next Potential Payout for NEW purchasers** Month Year
**Next Potential Payout for current policyholders** Month Year

**Next Sales Window** Month Year

@bnedavies I understand the new purchasers' payout is always at the payout window after the ne

[2014-09-10 13:19] bnedavies opened #215 "Update Events Calendar"
<iframe src="https://www.google.com/calendar/embed?src=iblikenyaethiopia%40gmail.com&ctz=Africa/Nairobi" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

iblikenyaethiopia@gmail.com

link sent to @niryariv

[2014-09-10 13:21] bnedavies commented on #202
Yep.  If you buy now (Aug/Sept 14), your first potential payout is March 15.  2nd potential payout is October 15.  If you buy in Jan/Feb 15, your first potential payout is October 15, then March 16.

[2014-09-10 13:23] niryariv opened #216 "use this link for the events calendar"
https://www.google.com/calendar/render?cid=aWJsaWtlbnlhZXRoaW9waWFAZ21haWwuY29t

[2014-09-10 13:27] niryariv opened #217 "PDF contents"
https://drive.google.com/a/gizra.com/file/d/0B7Lzf69iarhda05Icl9aRzV3MFk/edit?usp=sharing

[2014-09-10 13:30] bnedavies commented on #211
For blurb -

If you have additional questions and/or comments about Index-Based Livestock Insurance, please complete form below and we will respond as soon as possible.

[2014-09-11 09:05] nedSaf commented on #211
@niryariv @bnedavies We already have the address on the right side of the page, Please Provide another text to be above the form:
![selection_033](https://cloud.githubusercontent.com/assets/7369740/4231593/c9ba9ca0-3992-11e4-9639-d5c2483a669b.png)

Thanks.

[2014-09-11 09:10] niryariv commented on #211
@nader77 the text Bryn sent is for above the form:

[code]

[2014-09-11 09:12] nedSaf commented on #211
Ok sorry.

[2014-09-11 09:13] niryariv commented on #211
no worries :)

[2014-09-11 12:02] niryariv commented on #160
@nader77 some notes:
- the calculator will open on the map popups. each popup will have a link "Calculate your rate", clicking it shows the calculator UI (in hide/show element)
- the UI has 3 input boxes for integers (assume 2 digits) - cows / camels / sheep & goats - and a "calculate" button.
- Each input box has an icon next to it:
  [Camel](http://thenounproject.com/term/camel/36061/)
  [Cow](h

[2014-09-11 14:59] #214 closed, assigned to nedSaf

[2014-09-11 14:59] #197 closed, assigned to nedSaf

[2014-09-14 09:01] #216 closed, assigned to nedSaf

[2014-09-14 10:46] #207 closed, assigned to nedSaf

[2014-09-15 11:25] nedSaf opened #223 "Imges attributions"
Cow: Cow by Alessandro Suraci from The Noun Project
Camel: Camel by Yair Cohen from The Noun Project
Goat: Goat by Anand Prahlad from The Noun Project

[2014-09-15 11:26] niryariv commented on #223
we'll add this later in a credits page, for now put this on hold

[2014-09-15 12:20] #203 closed, assigned to nedSaf

[2014-09-21 12:22] niryariv commented on #215
fixed

[2014-09-21 12:22] #215 closed, assigned to nobody

[2014-09-21 12:23] niryariv commented on #211
done

[2014-09-21 12:23] #211 closed, assigned to nedSaf

[2014-09-21 12:25] niryariv opened #224 "fix contact button in the "about us" page"
leads to http://dev-ibli.gotpantheon.com/content/contact.html (which is 404) instead of http://dev-ibli.gotpantheon.com/contact-us

[2014-09-21 12:29] #202 closed, assigned to nedSaf

[2014-09-21 12:29] niryariv commented on #187
done

[2014-09-21 12:29] #187 closed, assigned to nobody

[2014-09-21 12:30] niryariv commented on #185
@mbrv status regarding the floating point part? (not a huge issue, if it's time consuming to implement let me know)

[2014-09-21 12:31] #178 closed, assigned to bitamar

[2014-09-21 12:31] #175 closed, assigned to apurbashee

[2014-09-21 12:32] niryariv commented on #170
done

[2014-09-21 12:32] #170 closed, assigned to nedSaf

[2014-09-21 12:33] #174 closed, assigned to apurbashee

[2014-09-21 12:33] #168 closed, assigned to nedSaf

[2014-09-21 12:34] #158 closed, assigned to apurbashee

[2014-09-21 12:36] niryariv commented on #154
@bnedavies do you have content for this, or shall we push it to v1.1?

[2014-09-21 12:36] #152 closed, assigned to apurbashee

[2014-09-21 12:36] #151 closed, assigned to apurbashee

[2014-09-21 12:37] #150 closed, assigned to niryariv

[2014-09-21 12:38] niryariv commented on #147
@mbrv solved, right?

[2014-09-21 12:38] niryariv commented on #146
@mbrv fixed?

[2014-09-21 12:38] #145 closed, assigned to nobody

[2014-09-21 12:38] #143 closed, assigned to nobody

[2014-09-21 12:55] niryariv commented on #141
fixed

[2014-09-21 12:55] #141 closed, assigned to Moo64c

[2014-09-21 13:08] #139 closed, assigned to bnedavies

[2014-09-21 13:10] niryariv commented on #135
@mbrv done?

[2014-09-21 13:11] niryariv commented on #120
implemented as http://dev-ibli.gotpantheon.com/pim

[2014-09-21 13:11] #120 closed, assigned to woodardjoshua

[2014-09-21 13:11] #119 closed, assigned to bnedavies

[2014-09-21 13:12] #118 closed, assigned to niryariv

[2014-09-21 13:13] niryariv commented on #116
done

[2014-09-21 13:13] #116 closed, assigned to niryariv

[2014-09-21 13:16] #113 closed, assigned to bnedavies

[2014-09-21 13:20] niryariv commented on #100
doesn't seem to be implemented - can u check?

![screen shot 2014-09-21 at 4 19 30 pm](https://cloud.githubusercontent.com/assets/1771/4348570/f28d4da6-4191-11e4-84a6-94b5bc2a0e36.png)

[2014-09-21 13:22] #52 closed, assigned to mbrv

[2014-09-21 13:22] #14 closed, assigned to nobody

[2014-09-21 13:41] Moo64c commented on #224
Seems fine on my end ? (top menu "about us" -> "contact us" leads to the correct location on dev)
Check both logged in and not.

[2014-09-21 13:44] niryariv commented on #224
yes, the problem is only on the http://dev-ibli.gotpantheon.com/content/what-ibli page button

![screen shot 2014-09-21 at 4 44 16 pm](https://cloud.githubusercontent.com/assets/1771/4348629/680067c8-4195-11e4-8163-8a3ed85a2f49.png)

[2014-09-21 13:45] niryariv commented on #224
while you're at it, please remove/hide the "our team" button

[2014-09-21 14:12] Moo64c commented on #224
Fixed (notice this was a content issue and when moving to live it may need to be fixed again since it's a relative path)

[2014-09-21 14:15] Moo64c commented on #100
@niryariv this is implemented in a PR Dudi still marks as WIP, and I see it's not yet merged to the http://dev-ibli.gotpantheon.com/ site.

Right now there's a default placeholder plugin still in effect, and the two or three modules in the site aren't even uploaded there. Did @DavidGizra  finish working on this? We'd need to rebuild the site after this PR (new contrib modules "feeds" and "job sche

[2014-09-21 14:16] Moo64c commented on #224
You should leave this open so we'd check until after the site goes live.

[2014-09-21 14:18] niryariv commented on #100
the site is still dev only, no problem if u need to rebuild. check the existing code, if it works just go ahead & merge

[2014-09-21 14:29] niryariv commented on #224
leaving open - and there's also the removing "our team" button part.

[2014-09-21 14:42] Moo64c commented on #100
Rebuilding this locally seems to take the site a few versions back and it the feed isn't working (at least locally) you should ask Dudi to see what's going on with it. (also this can't be merged) I'm not familiar enough with the site to say I can do that merge without breaking anything.

[2014-09-21 14:47] Moo64c commented on #224
Wasn't aware that was needed - I removed the button now.

[2014-09-22 07:39] bnedavies commented on #223
@nader77 I like these but Kenyan sheep/goats are much skinnier...can you find something closer to this?  Maybe do a goat and a sheep together ?
![animals](https://cloud.githubusercontent.com/assets/6724026/4352863/89f06b30-422b-11e4-8cf9-5f346ec1432e.png)

[2014-09-22 08:30] bnedavies opened #225 "Get IBLI Page"
Can the logos be moved up and replace the names of the insurers in type?

Can you also put Takaful on top and APA below?

![get ibli](https://cloud.githubusercontent.com/assets/6724026/4353408/acd948e0-4232-11e4-925e-5eca991378e6.png)

[2014-09-22 08:35] bnedavies opened #226 "Partners tab can be removed"
![remove](https://cloud.githubusercontent.com/assets/6724026/4353460/71c4670c-4233-11e4-97b7-52e11c291773.png)

[2014-09-22 08:38] bnedavies opened #227 "Partners page - Missing logos"
please add -

World Vision - sent before, please let me know if you don't have
APA  - sent before, please let me know if you don't have
Kenya Markets Trust  - sent before, please let me know if you don't have

NEW
USAID - http://www.usaid.gov/branding/web-graphics

[2014-09-22 08:39] bnedavies commented on #154
@niryariv where did the pictures go for IBLI - Isiolo, IBLI - Borana, etc. etc below the youtube video on the home page?

[2014-09-22 08:55] bnedavies commented on #206
Please change wording on legend -

Payout = worst forage conditions in 100 seasons
Good Conditions, No Payout = best forage conditions in 100 seasons

![legend](https://cloud.githubusercontent.com/assets/6724026/4353649/fc8a9760-4235-11e4-8dea-f05efc06a5e5.png)

[2014-09-22 09:09] bnedavies opened #228 "Map on homepage"
@niryariv the way it looks now with the legends, is it possible to zoom out a bit like it was before?

[2014-09-22 09:17] bnedavies commented on #160
A few issues -
1. I'm not getting the pop-up when I scroll over like it was doing before - I have to click to get the information?
2. The premium calculator does not seem to be calculating correctly?  What equation are you using?
3. Instead of "Your calculated rate is" please change to "The approximate cost to insure these animals is"

[2014-09-22 09:19] bnedavies commented on #228
Having issues like this where I can't see full pop-up box information
![image](https://cloud.githubusercontent.com/assets/6724026/4353962/7deb82d0-4239-11e4-946d-f46da455b007.png)

[2014-09-22 09:45] niryariv commented on #228
- [x] decrease default zoom by 1
- [x] make sure the pop up is always on top of all elements

[2014-09-22 09:48] nedSaf commented on #160
1. Yes now it shows on click.
2. formula:

[code]

Is it wrong ?

[2014-09-22 09:52] niryariv commented on #160
1. We made it open by click instead of hover - it was harder to use in the hover mode. we can change back if you prefer
2. Can we change to "**Approximate cost:**" (ie assuming the user understands it's for the inputted values, and in the context of the insurance)?

[2014-09-22 09:55] niryariv commented on #225
@Moo64c - plz let me know if u have any questions

[2014-09-22 10:06] niryariv commented on #223
@bnedavies we took the icons from this site - is there anything there you'd prefer? http://thenounproject.com/search/?q=goat

[2014-09-22 10:10] niryariv commented on #100
the code changed a lot since Dudi worked on it - feel free to go ahead and reimplement from scratch.

[2014-09-22 10:25] bnedavies commented on #223
this one looks close to the goats we have here - http://thenounproject.com/term/goat/18892/

[2014-09-22 10:34] bnedavies commented on #160
1. Ok, is there anyway for the name of the division to come up at the very least when hovering?
2. How about "approximate cost to insure"?
3. @nader77 it's a bit more complicated than that.
4. APA in Isiolo & Marsabit uses values of camel = 28,000, cow = 20,000, sheep/goat = 2,000
5. TIA in Isiolo, Wajir, Garissa, Mandera uses values of camel = 35,000, cow=25,000, sheep/goat = 2,500
6. OIC in Ethi

[2014-09-22 11:04] niryariv commented on #223
@Moo64c please replace sheep with above goat ^

[2014-09-23 13:55] niryariv commented on #135
done

[2014-09-23 13:55] #135 closed, assigned to nobody

[2014-09-23 13:55] niryariv commented on #185
done

[2014-09-23 13:55] #185 closed, assigned to mbrv

[2014-09-28 04:50] niryariv commented on #206
@bnedavies do you mean replace the existing text with "Payout" and "Good conditions, no payout" - or show both the old & new text?

[2014-09-28 04:55] niryariv commented on #227
@bnedavies I can't find the first World Vision / Kenya Markets Trust - could you please resend?

@nader77 the APA logo is in [Get IBLI page](http://dev-ibli.gotpantheon.com/content/get-ibli)

[2014-09-28 13:21] niryariv commented on #154
what should the images do - should we open a "IBLI in .." page for each, or play a video?

[2014-09-28 15:08] nedSaf commented on #160
1. I added a hover with the name of the province, when clicking on the province the rest of the data will appear with a fixed popup, Until its closed, the other hover popups will not appear (To prevent overlaying of popups.)
2. The text is changed.

3.+4.+5.+6. Should i add another field to the provinces which has more than one insurer ? (A select-list to select the correct insurer.)

Just to make

[2014-09-29 07:07] niryariv commented on #160
@bnedavies we're doing the per-insurer calculations, are there any insurers other than those listed in sections 4-6?

[2014-09-29 07:35] bnedavies commented on #227
Bryn Davies  | Market and Capacity Development Manager
International Livestock Research Institute | ilri.orghttp://www.ilri.org/
Box 30709, Nairobi, Kenya
Tel: +254 20 422 3496  | Skype: bryn.saxe
Email:  b.davies@cgiar.orgmailto:b.davies@cgiar.org

IBLI ONLINE: http://livestockinsurance.wordpress.com/

[Description: cid:image017.png@01CF977E.D0EA1930]
ILRI is a member of the CGIAR Consortiumhttp:

[2014-09-29 07:38] bnedavies commented on #227
![picture1](https://cloud.githubusercontent.com/assets/6724026/4438409/8731dd9a-47ab-11e4-86ec-3824d3d45fc1.jpg)

[2014-09-29 07:38] bnedavies commented on #227
@niryariv sending other via email

[2014-09-29 08:55] niryariv commented on #227
WorldVision logo:

![wv_logo](https://cloud.githubusercontent.com/assets/1771/4439242/4f8baabe-47b6-11e4-99b6-ada9b724d200.png)

[2014-09-29 08:56] niryariv commented on #227
@nader77 - please add WorldVision, Kenya Markets Trust, APA and USAID logos.

[2014-09-29 11:38] bnedavies commented on #160
@niryariv no, those are the only ones for this version.

[2014-09-29 11:38] bnedavies commented on #160
seems like something is still wrong with the calculator?

[2014-09-29 11:42] bnedavies commented on #154
A few were going to play a video...the ones that don't have videos, we can link to a page?  I believe I already sent all these links previously, but let me know if I need to repost

[2014-09-29 11:44] bnedavies commented on #206
@niryariv replace existing text with "good conditions, no payout" and "bad conditions, PAYOUT"

[2014-09-29 11:46] niryariv commented on #206
@nader77 see above ^ - can you do it or should we ask Keren to do that in the PSD?

[2014-09-29 11:50] niryariv commented on #160
@bnedavies we'll push a new version later today

[2014-09-29 11:55] bnedavies commented on #160
@niryariv great! :)

[2014-09-29 13:52] nedSaf commented on #160
[Pushed](http://dev-ibli.gotpantheon.com/)

[2014-09-29 13:56] niryariv commented on #226
done

[2014-09-29 13:56] #226 closed, assigned to nedSaf

[2014-09-29 13:57] niryariv commented on #100
@nader77 can u check?

[2014-09-29 14:00] niryariv commented on #228
@bnedavies looks ok? we moved the rates box to the bottom right to make sure it's not hiding the popups

[2014-09-29 14:01] niryariv commented on #225
@bnedavies should we add the new insurers?

[2014-09-29 14:02] niryariv commented on #224
done

[2014-09-29 14:02] #224 closed, assigned to nedSaf

[2014-09-29 14:02] niryariv commented on #223
done

[2014-09-29 14:02] #223 closed, assigned to nedSaf

[2014-09-29 14:06] niryariv commented on #160
@bnedavies Eldas showing correct rate now :)

![screen shot 2014-09-29 at 5 06 33 pm](https://cloud.githubusercontent.com/assets/1771/4442715/da6fb050-47e1-11e4-8c81-8191c723e90d.png)

[2014-09-29 14:06] #160 closed, assigned to nedSaf

[2014-09-29 14:08] nedSaf commented on #100
Ok on it.

[2014-09-29 14:09] nedSaf commented on #206
I think i can do it on my on, I will update you.

[2014-09-29 14:30] niryariv opened #234 "remove on-hover delay on the map popups"

[2014-09-30 07:23] bnedavies commented on #228
@niryariv Kenya looks fine, but if I select the top most division for Ethiopia, the pop-up box is slightly hidden.  Can you fix this?

Otherwise, looks good!

[2014-09-30 07:26] bnedavies commented on #160
Yep, looks like the calculations are working!  Please just make sure the pop-ups aren't cut off when someone selects Ethiopia

[2014-09-30 07:39] niryariv commented on #228
@nader77 apparently the map scroll on popup doesn't work on Chrome:

![screen shot 2014-09-30 at 10 38 37 am](https://cloud.githubusercontent.com/assets/1771/4454747/ec10f524-4874-11e4-9b70-5d491551a338.png)

[2014-09-30 07:44] nedSaf commented on #228
@niryariv Is this happening on Mac ? because in all my browsers, the scroll is working perfectly.
![selection_108](https://cloud.githubusercontent.com/assets/7369740/4454779/6b804bb6-4875-11e4-8e92-36137c8d677e.png)

[2014-09-30 07:49] niryariv commented on #228
Yes, on Mac & windows

On Tuesday, September 30, 2014, Nader Safadi notifications@github.com
wrote:

[2014-09-30 07:50] bnedavies commented on #225
@niryariv yes please add OIC Logo.  I will send contact details later today

[2014-09-30 08:18] bnedavies commented on #225
Megerssa Miressa Dinsa, +251 911 96 63 48

[2014-09-30 08:36] niryariv commented on #225
handling in #235 - closing this issue

[2014-09-30 08:37] niryariv opened #235 "add OIC to Get IBLI page"
![](http://www.oromiainsurancecompany.com.et/pics/logo.jpg)
Megerssa Miressa Dinsa, +251 911 96 63 48

[2014-09-30 08:37] #225 closed, assigned to bnedavies

[2014-09-30 08:39] niryariv commented on #227
@nader77 also, please remove all the placeholders:
![screen shot 2014-09-30 at 11 39 32 am](https://cloud.githubusercontent.com/assets/1771/4455282/50abed24-487d-11e4-94ab-bbcb21c61dbd.png)

[2014-09-30 08:56] bnedavies opened #236 "Past Index Maps - PDF"
@niryariv - Anyway to include a few things on the PDF file?
1. The legend?
2. The names of the divisions?

[2014-09-30 09:03] bnedavies opened #237 "Subscribe Function on homepage"
1. When I add a phone number - it asks for a valid email.  How do we make sure we have the country code too?
2. When I add an email, it doesn't send any sort of confirmation....is this working?
3. How do the admin functions work so I can review who has signed up and from where?

[2014-09-30 09:04] bnedavies opened #238 "Sales Data"
Where will we be able to access the sales data on the webplatform?

[2014-09-30 09:26] niryariv commented on #237
1. No problem. Should we allow only numbers from Kenya / Ethiopia?
2. Can you send me text for the confirmation email?
3. We'll add an admin view for this and document how to use it

[2014-09-30 09:31] bnedavies commented on #237
1.  We can allow from anywhere, I guess we should just require a country code?
2. "Thank you for signing up for updates about Index-Based Livestock Insurance (IBLI).  We will be in touch soon."
3. Thank you.

[2014-09-30 09:50] niryariv opened #239 "Subscription box"
currently it's connected to mailchimp. we'll change this to collecting data on drupal instead.
- [x] allow either email or phone number
- [x] validate email address
- [x] validate phone number, make sure it contains a country code
- [ ] if email, send a reply from ibliwebsystem@cgiar.org: "Thank you for signing up for updates about Index-Based Livestock Insurance (IBLI). We will be in touch soon."

[2014-09-30 09:51] niryariv commented on #237
opened a ticket for this at #239. What should we use as the From: email address?

[2014-09-30 09:54] bnedavies commented on #237
ibliwebsystem@cgiar.org

[2014-09-30 09:56] niryariv commented on #238
I don't think we defined this yet. We can add a page for this. I assume this would admin-accessible only?

[2014-09-30 09:58] niryariv commented on #237
ok, closing for #239.

[2014-09-30 09:58] #237 closed, assigned to bnedavies

[2014-09-30 10:02] bnedavies commented on #238
yes, admin accessible only.

[2014-09-30 11:26] niryariv opened #240 "Add condition table to PDF"
This should go below the current content in the PDF created at the Past Index Maps page.

Please Make the color name bold and in the same color we use for it in the map (ie the Green will be in green color etc)

| Color | Meaning |
| --- | --- |
| Green | Good forage availability that represents above 65 percentile over a long period. This is above normal and stable forage condition. |
| Yellow |

[2014-09-30 11:28] niryariv commented on #236
1. handling in #240 (is that what you mean?)
2. Can be added, but will be a bit more complicated - can we move this to 1.1?

[2014-09-30 11:33] #217 closed, assigned to niryariv

[2014-09-30 11:34] niryariv commented on #154
@bnedavies can u please resend me the content the images should link to? Can't find it here..

[2014-09-30 13:21] bnedavies commented on #113
@niryariv here are the video links

[2014-09-30 13:21] bnedavies commented on #154
see #113

[2014-09-30 13:25] bnedavies commented on #236
1. Yes, exactly, but with colors too.  Your content is black and white.
2. Well, it'll be hard for someone viewing to tell which division is theirs without the names of the divisions...I think it will be requested next week by others for this version...

[2014-09-30 13:44] niryariv commented on #236
1. I thought we'd just color the name, I'm concerned coloring the whole background might create readability issues. What do you think? This is easy to change later, in any case.
2. Absolutely. My concern is just time-wise - the main challenge is getting the division geography right. @apurbashee do you have division shapefiles? If not we can create them based on the unit shapefile and the division/

[2014-09-30 13:50] niryariv opened #241 "embed videos in the IBLI on the Ground items"
- [x] replace the current "More details" hover link with a Play icon:
  ![screen shot 2014-09-30 at 4 48 10 pm](https://cloud.githubusercontent.com/assets/1771/4459099/7b3672f0-48a8-11e4-9ca9-b464c6d2679f.png)
  Icon: http://thenounproject.com/term/play/19281/
- [x] When the icon is clicked, open a modal and play the relevant video:

IBLI in Wajir - https://www.youtube.com/watch?v=Cusa9tTuO2k&feat

[2014-09-30 13:52] niryariv commented on #154
thanks! opened #241 - closing this

[2014-09-30 13:52] #154 closed, assigned to bnedavies

[2014-10-01 07:43] bnedavies commented on #236
1. That's fine
2. I think you can just pull names from unit shape file?  @apurbashee - is this right?

[2014-10-01 07:48] niryariv commented on #236
We have the names, the trickier part is to get the division shape from all the units' shapes. It's not a big deal, just thought perhaps there are already division shapefiles so we can save the time.

[2014-10-02 07:47] niryariv commented on #241
@nader77 can you make the videos auto-play when the modal is opened?

[2014-10-02 08:07] bnedavies commented on #236
@niryariv sorry, we need the unit names, not division names

[2014-10-02 08:27] nedSaf commented on #241
Ya, i will do it on PR #245

[2014-10-02 09:22] Moo64c commented on #206
![legend](https://cloud.githubusercontent.com/assets/2690042/4488982/733d960a-4a15-11e4-9931-eebe3bc3b03b.png)
@nader77 they meant this?

[2014-10-02 09:24] Moo64c commented on #206
Fixed
![legend](https://cloud.githubusercontent.com/assets/2690042/4488997/e2244910-4a15-11e4-8236-528679edc0f6.png)

[2014-10-02 09:30] Moo64c commented on #206
@nader77 Nir asked for some changes.
![legend](https://cloud.githubusercontent.com/assets/2690042/4489050/b1ffa2c4-4a16-11e4-8a56-74fd8bfc9747.png)

[2014-10-02 09:32] Moo64c commented on #206
Cropped
![legend](https://cloud.githubusercontent.com/assets/2690042/4489086/f6130582-4a16-11e4-916b-1a63b60761dd.png)

[2014-10-02 09:46] niryariv opened #246 "add labels to units in Past Index Maps"
see https://github.com/Leaflet/Leaflet.label - to each unit we'll need a static label with the name

since we're not sure what this will look like, add an on/off switch for this, so we can show the unit labels or hide them. please implement this as a map control, under the zoom control. use this icon: http://thenounproject.com/term/book/54044/

[2014-10-02 09:47] niryariv commented on #236
ok, assigned to #246. I hope this will be usable, there are a lot of small units.

[2014-10-02 09:47] #236 closed, assigned to bnedavies

[2014-10-02 12:09] niryariv opened #247 "change to calculator UI"
change this:
![screen shot 2014-10-02 at 3 00 58 pm](https://cloud.githubusercontent.com/assets/1771/4490465/e718630a-4a2b-11e4-841e-b6b6d865877b.png)
- [x] move the company and total cost to a new line under "Approximate cost to insure"
- [x] remove ":" after "Approximate cost to insure"
- [x] in the cost line, show the number currency, number and company - eg "KSh **123.45** [OIC]"
- [x] the num

[2014-10-02 12:17] niryariv opened #248 "change map provider?"
@bnedavies - the current map we're using is not so attractive. We can get a much nicer map containing the same data from Mapbox:
![screen shot 2014-10-02 at 3 14 04 pm](https://cloud.githubusercontent.com/assets/1771/4490580/cb812012-4a2d-11e4-9609-4080168b9eb9.png)

That comes with a price, but I thinks the $60/year plan should cover it. What do you think? https://www.mapbox.com/plans/

[2014-10-02 12:24] bnedavies commented on #248
@niryariv that's fine.  please proceed with the $60 subscription.

[2014-10-02 12:28] niryariv commented on #248
great - can you please create an account at https://www.mapbox.com and send me the username/pass? thanks!

[2014-10-02 12:30] bnedavies commented on #246
not seeing any names yet to review...agree it might be tight space wise...

[2014-10-02 12:34] bnedavies commented on #248
done

[2014-10-02 12:47] niryariv opened #249 "change map tiles URL"
use: `https://{s}.tiles.mapbox.com/v3/ibli.jlgjoi4l/{z}/{x}/{y}.png`

[2014-10-02 12:50] niryariv commented on #248
cool. handling in #249. @bnedavies when you get some time could you upgrade us to the Basic plan? It'll require entering credit card info.

[2014-10-02 13:07] niryariv commented on #246
didn't implement yet, we'll probably get to this only next week

[2014-10-05 08:18] niryariv commented on #249
done

[2014-10-05 08:18] #249 closed, assigned to nedSaf

[2014-10-05 08:21] niryariv opened #250 "push code to live/test servers"

[2014-10-07 08:09] niryariv commented on #180
We're ready to push the site to a live server.

@alanorth would it be ok if we use the [Pantheon](https://www.gotpantheon.com/pricing) live environment initially until we're ready to deploy on ILRI's servers? It's a single click deployment and the $25/mo plan should be fine. Later we'll just point the domain to ILRI when we're ready.

@bnedavies is it ok if we remove the login so anyome can access

[2014-10-07 08:10] niryariv opened #251 "Add Google Analytics"
@bnedavies could you create an account on GA ( http://www.google.com/analytics/ ) and give us access?

[2014-10-07 09:13] niryariv commented on #247
- [x] show "approx cost to insure" only once, on top
- [x] move the currency next to "approx cost to insure"
- [x] move the provider name up to align with the top of the number

![screen shot 2014-10-07 at 12 11 01 pm](https://cloud.githubusercontent.com/assets/1771/4539925/0ca9a00a-4e02-11e4-882c-32c062a5f488.png)

[2014-10-07 09:15] niryariv commented on #247
also:
- [x] remove the [] brackets around the insurer name
- [x] add parentheses around the currency, ie "Approximate cost to insure (Br)"

[2014-10-07 09:16] alanorth commented on #180
@niryariv I don't mind either way.  IBLI has to approve the costs, but I don't mind either way.  We're still doing IDL and Matlab on the ILRI server though, right?

[2014-10-07 09:17] niryariv commented on #180
@alanorth yes, keeping IDL/Matlab on the ILRI server.

[2014-10-07 11:44] niryariv opened #253 "Provide contract designer spec"
just a short doc explaining what should it look like, which variables can users change and how they interact.

[2014-10-07 11:45] niryariv opened #254 "add credit card to Mapbox account"
continuing #248

[2014-10-07 11:46] niryariv commented on #248
closing for #254

[2014-10-07 11:46] #248 closed, assigned to bnedavies

[2014-10-07 11:48] #241 closed, assigned to nedSaf

[2014-10-07 11:49] niryariv commented on #235
done

[2014-10-07 11:49] #235 closed, assigned to nedSaf

[2014-10-07 11:51] bnedavies commented on #251
@niryariv what should I use as the website address?

[2014-10-07 11:51] niryariv commented on #227
done

[2014-10-07 11:51] #227 closed, assigned to nedSaf

[2014-10-07 11:51] bnedavies commented on #251
ibli.ilri.org?

[2014-10-07 11:53] niryariv commented on #251
yep

[2014-10-07 11:54] niryariv commented on #100
done

[2014-10-07 11:54] #100 closed, assigned to nedSaf

[2014-10-07 12:03] bnedavies commented on #251
![google analytics](https://cloud.githubusercontent.com/assets/6724026/4541803/d86e9350-4e19-11e4-86f9-6c92da385758.png)
Is this what you need?

[2014-10-07 12:04] bnedavies commented on #180
@niryariv I think better to keep login for now actually...

[2014-10-07 12:07] niryariv commented on #180
ok - pushed to live, login in place: http://live-ibli.gotpantheon.com/

[2014-10-07 12:07] bnedavies commented on #253
@apurbashee can you see my email to Nir and send anything else that may be needed to setup contract designer functionality?

[2014-10-07 12:14] niryariv commented on #251
yes, thanks

[2014-10-08 10:27] bnedavies commented on #248
upgraded today!

[2014-10-08 11:16] #254 closed, assigned to bnedavies

[2014-10-08 13:04] bnedavies opened #257 "What is IBLI Page?"
Still spelling errors?
![what is ibli](https://cloud.githubusercontent.com/assets/6724026/4559375/64b6237e-4eeb-11e4-8c35-eda2b681ef06.png)

[2014-10-08 13:06] bnedavies commented on #239
Noticed this wasn't ready yet...we may want to request more information from users like in the following - https://drive.google.com/folderview?id=0BwyWK0Vut1RBVDdCbTNZRVZ0VU0&usp=sharing.

And how do we push SMS to subscribers via the sales platform?

[2014-10-08 13:07] bnedavies commented on #238
Let us know when something is ready to see here...or what kind of inputs you need from us to design

[2014-10-08 13:08] bnedavies opened #258 "Back-end revisions to index"
@niryariv We discussed having access at the back end to adjust the index.  Where will this be on the webplatform?  admin use only

[2014-10-08 13:12] niryariv commented on #239
Almost done, just needs some testing - we plan to activate it by Monday.

We can push SMS via the sales platform API.

I understood we decided to go with a minimal form in order to have more subscriptions - having that many fields to fill in will definitely reduce to number of subscribers (even if the fields are optional, their very existence will turn users away)

[2014-10-08 13:14] niryariv commented on #238
We haven't worked on it yet, since we don't know what data needs to be shown. I assume it's a table with user info - which fields should be there?

[2014-10-08 13:15] niryariv commented on #258
do you mean manually changing index values, or the algorithm calculating the index? I don't remember discussing this, shouldn't be hard to implement (at least the index values scenario).

[2014-10-08 13:17] bnedavies commented on #206
Spelling error - should be "increasing seasonal forage conditions" not "conditional"

Also, is this box auto-updating?
![info box - homepage](https://cloud.githubusercontent.com/assets/6724026/4559572/664dad40-4eed-11e4-8d2f-533424e06f0f.png)

[2014-10-08 13:19] niryariv opened #259 "fix spelling error on legend"
- [x] replace "conditional" with "conditions"
- [x] use capital "I" in "Increasing"

![screen shot 2014-10-08 at 4 19 29 pm](https://cloud.githubusercontent.com/assets/1771/4559608/c5dda3dc-4eed-11e4-8008-c66bf97f4127.png)

[2014-10-08 13:21] niryariv commented on #206
Box is auto updating. Moving the spelling fix to #259. Should we also capitalize "increasing"?

[2014-10-08 13:26] bnedavies commented on #246
A few things for now:
1. Replace "conditional" with "conditions"
2. Move dropdown box to select season to below legend, above PDF button
3. We need to ability to also select a district, and have the PDF only show the divisions in that district - e.g. Wajir
4. Then, the names of the divisions should be easier to show
5.  Will send an example of a format too via email.

![index map](https://cloud.gi

[2014-10-08 13:38] niryariv commented on #246
re # 3 - does IBLI have shapefiles for districts? @apurbashee, perhaps you've already created them?

[2014-10-09 07:14] bnedavies commented on #206
Yes - thanks!

[2014-10-09 07:15] bnedavies commented on #258
yes.  @apurbashee can you talk to Andrew about what exactly he envisions here and relay that to Nir?

[2014-10-09 08:21] niryariv commented on #206
ok, closing for #259

[2014-10-09 08:21] #206 closed, assigned to Moo64c

[2014-10-09 08:23] bnedavies commented on #258
please assign to apurba

[2014-10-09 08:29] niryariv commented on #258
sorry, mis-clicked :)

[2014-10-09 09:03] bnedavies commented on #246
@niryariv do you have the program to auto generate the PDF file I sent over email?

[2014-10-09 09:31] niryariv commented on #246
If you mean the per-district files, we'll have to write some code to extract division boundaries from the units shapefile. The other text will require some programming as well, but nothing too difficult.

I was thinking on the 2nd point, moving the drop down below the map - we initially put the dropdown there to be sure to keep the map in context and provide an obvious way to change times. It's no

[2014-10-09 09:50] niryariv commented on #239
@bnedavies what should we do? we're basically done with the subscription box code, so can either push in the current format or rewrite to include the above form.

[2014-10-09 11:46] bnedavies commented on #246
@niryariv on point 2, we just thought it's hard to see where it is and users might not notice the dropdown feature?

good to know other changes won't be too difficult

[2014-10-09 11:57] bnedavies commented on #239
Maybe wait for the moment.  I don't want to make you do extra work until we confirm everyone is on board with more information...

[2014-10-09 12:46] bnedavies commented on #238
Will send a sample of the fields to pull and then maybe if it's possible to do graphs/tables for a few items?

[2014-10-09 14:47] niryariv commented on #238
fields + charts: https://drive.google.com/a/gizra.com/folderview?id=0B7Lzf69iarhdYVRRc3dGM0Jra28&usp=sharing

Sales Transaction Platform API: https://docs.google.com/document/d/1T-MEuSM7e1gMrKglcUoVX8OtbstjI_NUwfUjCFkqZAw/edit?usp=sharing

@bnedavies from initial look it seems this will require modifications to the Transaction Platform API, to be done by Amos' team.

[2014-10-10 07:38] bnedavies commented on #238
@niryariv @amosgichamba Really?  The excel sheet is a report that is taken straight from the sales platform, so it should have been in the API...

[2014-10-10 08:16] niryariv commented on #238
It's in the system, but not exposed in the API (per the doc I have). We didn't know this data will be needed since we didn't have the detailed spec for this page, but it shouldn't be hard to add.

[2014-10-10 11:25] bnedavies commented on #238
@amosgichamba what data was exposed in the API?

[2014-10-10 11:25] bnedavies commented on #238
@amosgichamba please add what is needed for us to be able to pull this sales data into the webplatform...it should already be there....

[2014-10-12 05:37] nedSaf commented on #250
Done.

[2014-10-12 06:00] niryariv commented on #247
done

[2014-10-12 06:00] #247 closed, assigned to nedSaf

[2014-10-12 06:02] niryariv commented on #180
@alanorth the server is ready, you can point the domain:

`ibli.ilri.org    CNAME   edge.live.getpantheon.com`

[2014-10-12 06:21] #250 closed, assigned to nedSaf

[2014-10-13 05:36] nedSaf commented on #234
Closed in favor of [#24](https://github.com/Gizra/IBLI-map/pull/24)

[2014-10-13 05:36] #234 closed, assigned to nedSaf

[2014-10-13 05:44] nedSaf commented on #228
Fixed on [#24](https://github.com/Gizra/IBLI-map/pull/24)

[2014-10-13 08:19] alanorth commented on #250
What are we doing about the domain name for the live site?  Right now it's pointing at my server.

[2014-10-13 08:32] niryariv commented on #250
@alanorth we can point it to Pantheon - I posted the info [here](https://github.com/Gizra/IBLI/issues/180#issuecomment-58774768)

[2014-10-13 08:33] alanorth commented on #180
@niryariv Ah! I didn't see this.  Let me request this immediately.

[2014-10-13 09:10] niryariv commented on #180
great, thanks!

[2014-10-13 11:50] niryariv opened #263 "Index Announcement Poster"
the poster looks like this: https://drive.google.com/a/gizra.com/file/d/0B7Lzf69iarhdVHFPSGM2dk0zSDg/view?usp=sharing

We already have the legend component. For the area maps, use the district geojson files here: https://github.com/Gizra/IBLI/tree/master/dataProcessing/shapefiles/districts

@bnedavies should this be in a separate page from the past index maps?

[2014-10-13 16:53] alanorth commented on #180
It's live!

[code]

[2014-10-13 17:53] niryariv commented on #180
nice!

any remaining tasks in this ticket, or can we close it?

[2014-10-21 08:49] niryariv opened #264 "provide world bank excel file"

[2014-10-21 13:49] niryariv opened #265 "Per unit index report"
as in: https://drive.google.com/a/gizra.com/file/d/0B7Lzf69iarhdQlo2Y0VQenkzWG8/view?usp=sharing (pending some changes to the content, TBD in Nov)

[2015-02-05 19:47] niryariv opened #266 "switch off live server"
can keep only dev for now, to save on the costs?

[2015-02-05 19:55] bricel commented on #266
We can keep all the envs,  you pay only for the custom domain.

[2015-02-06 07:57] niryariv commented on #266
is it currently being billed? we can remove the domain on our side, right?\

cc @bnedavies

[2015-02-06 19:30] bnedavies commented on #266
It is currently being billed to us at $25/month I believe.

[2015-02-08 08:21] niryariv commented on #266
Switched back to $0/month dev plan - this means http://ibli.ilri.org/ stops working, but http://dev-ibli.gotpantheon.com/ still functional as before.

cc @bnedavies @alanorth

[2015-02-09 14:35] bnedavies commented on #266
thank you.  We'll get it back up soon.